.VHOffset(@offset, @size: 1080){
	margin-bottom: @offset;
	margin-bottom: round(unit((@offset/(@size*0.01)), vh), 2);
}

.VHO(@prop, @offset, @size: 1080){
	@{prop}: @offset;
	@{prop}: round(unit((@offset/(@size*0.01)), vh), 2);
}