{% extends layout %}
{% block content %}
  <div class="wrapper">
    <section class="section">
      <div class="container">
        <div class="block-404">
          <div class="block-404__inner">
            <div class="block-404__title">404</div>
            <h1 class="block-404__subtitle">ошибка</h1>
            <a href="/" class="btn btn--primary">Vekta</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}