{% extends layout %}
{% block content %}
  <div class="wrapper">
    <div class="hero">
      <div class="hero__slider">
        <div class="hero__slider-item" style="background-image: url({{ 'about-bg.jpg' | uploads }})">
          <div class="hero__content container">
            <div class="hero__title">компания</div>
            <div class="hero__sub-title h-mb20">номер один в россии</div>
            <div class="hero__label">Лауриаты премии “Бренд года”</div>
          </div>
        </div>
      </div>
    </div>
    <section  class="offset-lg offset-top-sm">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">КОМПАНИЯ</li>
        </ul><!-- Breadcrumbs -->
      </div>

      <article>
        <div class="container offset-sm">
          <h1 class="title">краткая история</h1>
          <div class="wysiwyg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. 
            </p>

            <p>
              <img src="{{ 'about-article-img.jpg' |uploads }}" alt="Краткая история">
            </p>

            <div class="row">
              <div class="col--md-4">
                <h2>наша миссия</h2>
                <p class="h-fz24">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</p>
              </div>
              <div class="col--md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Donec faucibus maximus </p>
              </div>
            </div>

            <div class="achievements offset-y-sm">
              <div class="achievements__item">
                <div class="achievements__img">
                  <img src="{{ 'achivment-icon-1.png' | uploads }}" alt="">
                </div>
                <div class="achievements__digits">5</div>
                <div class="achievements__text">заводов</div>
              </div>
              <div class="achievements__item">
                <div class="achievements__img">
                  <img src="{{ 'achivment-icon-1.png' | uploads }}" alt="">
                </div>
                <div class="achievements__digits">457</div>
                <div class="achievements__text">магазинов</div>
              </div>
              <div class="achievements__item">
                <div class="achievements__img">
                  <img src="{{ 'achivment-icon-1.png' | uploads }}" alt="">
                </div>
                <div class="achievements__digits">571</div>
                <div class="achievements__text">продуктов</div>
              </div>
              <div class="achievements__item">
                <div class="achievements__img">
                  <img src="{{ 'achivment-icon-1.png' | uploads }}" alt="">
                </div>
                <div class="achievements__digits">289</div>
                <div class="achievements__text">клиентов</div>
              </div>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
            <blockquote>как приготовить в&nbsp;нашей технике вкусно и&nbsp;недорого на&nbsp;все случаи жизни</blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam.</p>

            <div class="row offset-sm">
              <div class="col--md-4">
                <h2>наши партнеры</h2>
                <p class="h-fz24">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="col--md-8">
                <div class="partners">
                  <div class="partners__item">
                    <a href="#" target="_blank">
                      <img src="{{ 'partner.png' | uploads }}" alt="">
                    </a>
                  </div>
                  <div class="partners__item">
                    <a href="#" target="_blank">
                      <img src="{{ 'partner.png' | uploads }}" alt="">
                    </a>
                  </div>
                  <div class="partners__item">
                    <a href="#" target="_blank">
                      <img src="{{ 'partner.png' | uploads }}" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div>{{ Macros.Share('Поделиться:') }}</div>
        </div>
      </article>
    </section>

    <section class="offset-lg section section--theme-red section--extra-padding">
      <div class="container">
        <div class="connect-with-us">
          <h2 class="title">связаться с нами</h2>
          <a href="/feedback.html" class="btn btn--primary">Контакты</a>
        </div>
      </div>
    </section>

    <section class="offset-lg">
      <div class="container">
        <h2 class="title">посмотреть нашу продукцию</h2>
        {% include "blocks/viewed-slider.html" %}
      </div>
    </section>

    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}