{% extends layout %}
{%- set MY_PRODUCTS = [
  {
    "title": "микроволновая печь авс123",
    "serial": "2456 8745 3095 3847",
    "warranty": "24 мес"
  },
  {
    "title": "микроволновая печь авс123",
    "serial": "2456 8745 3095 3847",
    "warranty": "24 мес"
  },
  {
    "title": "микроволновая печь авс123",
    "serial": "2456 8745 3095 3847",
    "warranty": "24 мес"
  },
  {
    "title": "микроволновая печь авс123",
    "serial": "2456 8745 3095 3847",
    "warranty": "24 мес"
  }
] -%}
{% block content %}
  <div class="wrapper">
    <section  class="offset-lg offset-top-sm">
      <div class="container">
        <h2 class="title">Здравствуйте,<br>
          <span id="usernameText">
            константин богорождественский!
          </span>&nbsp;<a  href="#" class="edit-name js-openmodal" data-modal="#modalEditName"><span class="i-vekta i-vekta--settings"></span></a>
        </h2>

        <div class="myproducts">
          <div style="display: none">
            <form action="." method="GET" id="removeProductForm">
              <input type="hidden" name="token" value="11a69eeac3ae42bc98b0aede8532516e">
              <input type="hidden" name="product" id="removeProductId">
            </form>
          </div>

          <div class="myproducts-empty" style="display: none">
            <div class="wysiwyg">
              <h4>Список продуктов пуст</h4>
              <p>Для того чтобы зарегистрировать продукт, <a href="#productRegistration">заполните форму</a></p>
            </div>
          </div>

          <table class="myproducts__table">
            <thead>
              <tr>
                <td>продукты</td>
                <td>серийный номер</td>
                <td>гарантия</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for item in MY_PRODUCTS  %}
                <tr>
                  <td>
                    <span class="myproducts__mobile-label">Название</span>
                    {{ item.title }}
                  </td>
                  <td>
                    <span class="myproducts__mobile-label">серийный номер</span>
                    {{ item.serial }}
                  </td>
                  <td>
                    <span class="myproducts__mobile-label">гарантия</span>
                    {{ item.warranty }}
                  </td>
                  <td>
                    <button data-product="{{ item.serial }}" type="button" title="Удалить продукт" class="myproducts__remove">
                      <span class="i-vekta i-vekta--trash"></span>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section class="section section--theme-lightgray section--extra-padding"   id="productRegistration">
      <div class="container">
        <h2 class="title text-center text-red">Зарегистрировать продукт</h2>
        <div class="row">
          <div class="col--md-10 col--md-offset-1">
            <form action="." class="form product-register">
              <input type="hidden" name="token" value="11a69eeac3ae42bc98b0aede8532516e">
              
              <div class="product-register__col">
                <div class="form__group">
                  <label for="regSerialNumber" class="form__label">серийный номер</label>
                  <input type="text" data-masked="9999-9999-9999-9999" class="form__control form__control--lg" id="regSerialNumber" name="serial" required>
                </div>
              </div>
              <div class="product-register__col">
                <div class="form__group">
                  <label for="regDate" class="form__label">дата покупки</label>
                  <input type="string" class="form__control form__control--lg" id="regDate" name="date" required>
                </div>
              </div>
              <div class="form__group product-register__btn">
                <button class="btn btn--primary btn--bordered">Зарегистрировать</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}
{% block modals %}
  {% include "blocks/modal_edit_name.html" %}
{% endblock modals %}