{% extends layout %}
{% block content %}
  <div class="wrapper">
    {% include "blocks/index-hero.html" %}
    <section>
      <div class="tile-list-wrapper">
        <div class="tile-list">
          {% for tile in categories %}
            <div class="tile-list__item">
              <div 
                class="tile cover theme-{{ tile.theme }} tile--selected{%- if tile.disabled %} is-disabled{% endif %}{%- if not tile.image %} no-image{% endif -%}" 
                {% if tile.image %}style="background-image: url({{ tile.image | uploads }})"{% endif %} 
                data-group="{{ tile.theme }}">
                <div class="tile__inner">
                  <div class="tile__label">{{ tile.label }}</div>
                  <div class="tile__icon">
                    {% include "icons/" ~ tile.theme  ~ ".svg" %}
                  </div>
                  <div class="tile__title">{{ tile.title }}</div>
                  <div class="tile__text">{{ tile.text }}</div>
                </div>
                {% if not tile.disabled %}
                  <a href="{{ tile.url }}" class="tile__link">{{ tile.title }}</a>
                {% endif -%}
              </div>

              {% if tile.sublist and not tile.disabled %}
                <div class="subcategories theme-{{ tile.theme }}" data-group="{{ tile.theme }}">
                  <div class="subcategories__inner">
                    <div class="subcategories__list">
                      {% for item in tile.sublist -%}
                      <div class="subcategories__list-item">
                        <a href="{{ item.url }}" class="subcategories__link" title="{{ item.title }}">
                          <span class="subcategories__icon">
                            {% include "icons/" ~ item.icon  ~ ".svg" %}
                          </span>
                        </a>
                      </div>
                      {% endfor -%}
                    </div>
                    <div class="subcategories__label"><span></span></div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>  
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}