{% extends layout %}
{% block content %}
  <div class="wrapper">
    <section class="offset-lg">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="/products.html">Продукция</a></li>
          <li class="breadcrumbs__item">Сравнить</li>
        </ul><!-- Breadcrumbs -->
        
        <div class="compare">
          <div class="compare__inner">
            <div class="compare__layout offset-sm">
              <div class="compare__aside">
                <div class="compare-controls">
                  <div class="compare-controls__inner">
                    <div class="compare-controls__icon js-print">
                      <span class="i-vekta i-vekta--print"></span>
                    </div>
                    <div class="compare-controls__label">показать<br>различия</div>
                  </div>
                </div>
              </div>
              <div class="compare__content">
                <div class="compare__list">
                  {% for item in common.products | loop(4) -%}
                    <div class="compare__list-item">
                      {{ Macros.Card(item, true) }}
                      <a href="#" class="catalog-remove" title="Убрать из списка"><span class="i-vekta i-vekta--trash"></span></a>
                    </div><!-- / Catalog Item -->
                  {%- endfor %}
                  <div class="compare__list-item no-print">
                    <div class="card">
                      <div class="card__image cover theme-graylight" role="img">
                        <div class="card__plus"></div>
                      </div>
                      <div class="card__icon-bar card__icon-bar--empty">&nbsp;</div> 
                      <a href="/product.html" class="card__link">
                        <span class="card__category">добавить новый продукт</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-list theme-food">
              <div class="accordion is-active">
                <div class="accordion__title">общая информация</div>
                <div class="accordion__body">
                  <div class="opt-table-wrapper">
                    <table class="opt-table">
                      <!-- Обязателно 4 колонки  -->
                      <tbody>
                        <tr>
                          <td>Ширина (мм)</td>
                          <td>462</td>
                          <td>462</td>
                          <td>462</td>
                          <td>462</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                        <tr>
                          <td>Высота без рабочей поверхности (мм)</td>
                          <td>290</td>
                          <td>490</td>
                          <td>290</td>
                          <td>490</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                        <tr>
                          <td>Максимальная мощность микроволн</td>
                          <td>800</td>
                          <td>600</td>
                          <td>800</td>
                          <td>600</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                        <tr>
                          <td>Открытие двери</td>
                          <td>Кнопка</td>
                          <td>Нет</td>
                          <td>Кнопка</td>
                          <td>Нет</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                        <tr>
                          <td>Дополнительная функция</td>
                          <td>Микроволны</td>
                          <td>Ну, например, не микроволны, а лучи добра</td>
                          <td>Микроволны</td>
                          <td>Ну, например, не микроволны, а лучи добра</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                        <tr>
                          <td>Диаметр вращающейся тарелки (мм)</td>
                          <td>111</td>
                          <td>245</td>

                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion__title">Мощность</div>
                <div class="accordion__body">
                  <div class="opt-table-wrapper">
                    <table class="opt-table">
                      <!-- Обязателно 4 колонки  -->
                      <tbody>
                        <tr>
                          <td>Мощность</td>
                          <td>800 Вт</td>
                          <td>900 Вт</td>
                          <td>800 Вт</td>
                          <td>900 Вт</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion__title">Разморозка по весу</div>
                <div class="accordion__body">
                  <div class="opt-table-wrapper">
                    <table class="opt-table">
                      <!-- Обязателно 4 колонки  -->
                      <tbody>
                        <tr>
                          <td>Разморозка по весу</td>
                          <td>Есть, до 3 кг</td>
                          <td>Есть, до 2 кг</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion__title">Отложенный старт</div>
                <div class="accordion__body">
                  <div class="opt-table-wrapper">
                    <table class="opt-table">
                      <!-- Обязателно 4 колонки  -->
                      <tbody>
                        <tr>
                          <td>Отложенный старт</td>
                          <td>Есть</td>
                          <td>Присутствует</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion__title">Многоэтапные Блюда</div>
                <div class="accordion__body">
                  <div class="opt-table-wrapper">
                    <table class="opt-table">
                      <!-- Обязателно 4 колонки  -->
                      <tbody>
                        <tr>
                          <td>Многоэтапные Блюда</td>
                          <td>Есть</td>
                          <td>Нет</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion__title">Таймер</div>
                <div class="accordion__body">
                  <div class="opt-table-wrapper">
                    <table class="opt-table">
                      <!-- Обязателно 4 колонки  -->
                      <tbody>
                        <tr>
                          <td>Таймер</td>
                          <td>Есть</td>
                          <td>Есть</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__title">Защита от детей</div>
                <div class="accordion__body">
                  <div class="opt-table-wrapper">
                    <table class="opt-table">
                      <!-- Обязателно 4 колонки  -->
                      <tbody>
                        <tr>
                          <td>Защита от детей</td>
                          <td>Есть</td>
                          <td>Есть, ультратонкая</td>
                          <td></td><!-- Обязателно 4 колонки  -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="offset-lg no-print">
      <div class="container">
        <h2 class="title">вы посмотрели</h2>
        {% include "blocks/viewed-slider.html" %}
      </div>
    </section>

    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}