{% extends layout %}
{% block content %}
  <div class="wrapper">
    <div class="hero">
      <div class="hero__slider">
        <div class="hero__slider-item" style="background-image: url({{ 'hero-feedback.jpg' | uploads }})">
          <div class="hero__content container">
            <div class="hero__sub-title">нам важно ваше мнение <br> мы ответим вам <br>в ближайшее время</div>
          </div>
        </div>
      </div>
    </div>
    <section class="offset-lg offset-top-sm">
      <div class="container">
        <h1 class="title">написать нам</h1>
        <div class="row">
          <div class="col--md-8">
            <div class="form-feedback-shift">
              <form action="." class="form" method="POST">
                <div class="row">
                  <div class="col--md-6">
                    <div class="form__group">
                      <input type="text" class="form__control" name="name" placeholder="Имя*" required>
                    </div>
                  </div>
                  <div class="col--md-6">
                    <div class="form__group">
                      <input type="text" class="form__control" name="lastname" placeholder="Фамилия" >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col--md-6">
                    <div class="form__group">
                      <input type="email" class="form__control" name="email" placeholder="Email" >
                    </div>
                  </div>
                  <div class="col--md-6">
                    <div class="form__group">
                      <input type="tel" class="form__control" name="tel" placeholder="Телефон" >
                    </div>
                  </div>
                </div>

                <div class="form__group">
                  <select name="subject" class="form__control">
                    <option value="" disabled selected>Тема</option>
                    <option value="Вопрос">Вопрос</option>
                    <option value="Предложение">Предложение</option>
                    <option value="Грязная кляуза">Грязная кляуза</option>
                  </select>
                </div>

                <div class="form__group">
                  <textarea name="msg" rows="6" class="form__control" placeholder="Сообщение"></textarea>
                </div>
                <div class="form__group">
                  <div class="capcha">
                    <div class="row">
                      <div class="col--md-5">
                        <div class="capcha__img">
                          <img src="{{ 'capcha.jpg' | uploads }}" alt="capture">
                        </div>
                      </div>
                      <div class="col--md-3">
                        <div class="capcha__controls">
                          <button type="button" class="capcha__controls-item">
                            {{ Macros.Icon('i-reload') }}
                          </button>
                          <button type="button" class="capcha__controls-item">
                            {{ Macros.Icon('i-volume') }}
                          </button>
                          <button type="button" class="capcha__controls-item">
                            {{ Macros.Icon('i-question') }}
                          </button>
                        </div>
                      </div>
                      <div class="col--md-3">
                        <input type="text" class="form__control" title="Введите символы с картинки" required>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <button type="submit" class="btn btn--primary">Отправить</button>
              </form>
            </div>
          </div>
          <div class="col--md-4">
            <div class="bordered-box">
              <div class="title title--sm">наш адрес</div>
              <ul class="address-info">
                <li class="address-info__item">
                  {{ Macros.Icon('i-pin') }}
                  Москва Центр “Обеспечение” ул. Моторостроителей дом 2 корп.1 9 этаж
                </li>

                <li class="address-info__item">
                  {{ Macros.Icon('i-phone') }}
                  <a href="tel:88006004545">8 800 600 45 45</a>
                </li>

                <li class="address-info__item">
                  {{ Macros.Icon('i-envolope') }}
                  <a href="mailto:info@vekta.ru">info@vekta.ru</a>
                </li>
              </ul>

              <div class="wysiwyg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat turpis, pellentesque non leo eget, pulvinar pretium arcu. Mauris porta elit non.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="offset-lg">
      {% include "blocks/quote.html" %}
    </section>

    <section class="offset-lg">
      <div class="container">
        <h2 class="title">вы посмотрели</h2>
        {% include "blocks/viewed-slider.html" %}
      </div>
    </section>

    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}