{% extends layout %}
{% import 'macros/recipe.html' as Recipe %}
{% block content %}
  <div class="wrapper">
    <section class="offset-sm">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="/">Главная</a></li>
          <li class="breadcrumbs__item"><a href="/recipes.html">Рецепты</a></li>
          <li class="breadcrumbs__item">Котлеты в микроволновке</li>
        </ul><!-- Breadcrumbs -->

        <div class="row">
          <div class="col--md-9">
            <h1 class="title">Словарь терминов</h1>
            <div class="glossary-select">
              <div class="glossary-select__label">Термины:</div>
              <select name="glossry" class="form__control" id="glossarySelect"></select>
            </div>
            <div class="glossary-list">
            {%- for item in glossary %}
              <div class="glossary-list__item">
                <a class="glossary-anchor" name="{{ item.name | urlencode }}"></a>
                <div class="glossary">
                  <div class="glossary__title title title--sm" >{{ item.name }}</div>
                  <div class="glossary__text wysiwyg">
                    {{ item.text }}
                  </div>
                </div>
              </div>
            {%- endfor %}
            </div>
          </div>
          <div class="col--md-3 glossary-aside">
            <h4 class="title title--sm glossary-term-title">Термины</h4>
            <div class="glossary-nav">
              {% for item in glossary %}
                <div class="glossary-nav__item"><a class="glossary-nav__link" href="#{{ item.name| urlencode  }}">{{ item.name | urlize }}</a></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="offset-lg">
      <div class="container">
        <h2 class="title">посмотреть нашу продукцию</h2>
        {% include "blocks/viewed-slider.html" %}
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}