{% extends layout %}
{% block head %}
    <link href="{{ 'icon-preview.css'|css_asset }}" rel="stylesheet" type="text/css">

{% endblock head %}
{% block content %}
  <div class="wrapper">
    <section class="section">
      <div class="container">
        <h2 class="title">Модальные окна</h2>
        <div class="wysiwyg offset-sm">
          <p><a href="#" class="js-openmodal" data-modal="#modalReg">Регистрация</a><br><a href="#" class="js-openmodal" data-modal="#modalLogIn">Вход</a></p>
        </div> 

        <h2 class="title">WYSIWYG</h2>
        <div class="wysiwyg offset-sm">
          <h1>Заголовок первого уровня</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, pariatur repellendus? Assumenda ratione alias nesciunt est blanditiis quisquam. Laboriosam similique ratione aliquam totam numquam corporis illum reiciendis <strong>eligendi</strong>, voluptatibus maxime.</p>

          <h2>Заголовок второго уровня</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, pariatur repellendus? Assumenda ratione alias nesciunt est blanditiis quisquam. Laboriosam <b>similique</b> ratione aliquam totam numquam corporis illum reiciendis eligendi, voluptatibus maxime.</p>

          <h3>Заголовок третьего <em>уровня</em></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, pariatur repellendus? Assumenda ratione alias nesciunt est blanditiis quisquam. Laboriosam <a href="#">similique</a> ratione aliquam totam numquam corporis illum reiciendis eligendi, voluptatibus maxime.</p>

          <hr/>

          <h4>Заголовок <a href="#">четвертого</a> уровня</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur soluta, reprehenderit deleniti fugit voluptate dolor reiciendis. Officiis repudiandae, quis doloremque facilis deleniti earum impedit nulla molestiae magni obcaecati. Nam aliquam laboriosam vel ratione alias dignissimos <em>reiciendis. Neque recusandae aperiam fuga modi dolorem beatae autem sed, ex vitae animi dolor eligendi ducimus fugit, reprehenderit ipsum numquam dignissimos necessitatibus optio, dolorum unde eius consectetur ab fugiat. Rem esse magnam nam, alias, consectetur sint consequuntur voluptate numquam error nihil</em> necessitatibus at aut odit officia dolores debitis placeat nemo tempore dolorum nisi cum ipsum recusandae. Expedita voluptatum qui praesentium ex, molestias nesciunt, veniam animi!</p>

          <h4>Списки</h4>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
          </ul>

          <hr/>

          <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur dolor labore nulla accusantium aliquam eligendi, aut atque veritatis repellat quas explicabo magni dolore animi soluta cupiditate neque cum quasi?</li>
          </ol>

          <table>
            <tr>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae facilis cumque asperiores suscipit incidunt, pariatur illo rem ipsum dignissimos libero blanditiis porro! Fugiat quaerat vel suscipit, optio corrupti ea?</td>
              <td>Aut quis dignissimos ea error. Doloremque eum vitae, voluptatum adipisci dicta nihil dolorum tempora obcaecati praesentium id nulla, alias quas impedit, illo beatae necessitatibus! Ipsa incidunt eligendi optio dolores doloribus!</td>
              <td>Quo, pariatur magni totam ea nemo. Sed minus modi dolores voluptatem nostrum excepturi distinctio, eaque quisquam, in numquam voluptates. Quasi itaque quia, reiciendis quo quibusdam dolorum? Nulla non sunt eius!</td>
              <td>Perspiciatis blanditiis iusto ipsum illo beatae ullam suscipit odit nam vero distinctio rerum dolore soluta eaque, voluptates ut facere, tempore ratione autem unde dolor cum illum amet consequatur magni! Vitae.</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae facilis cumque asperiores suscipit incidunt, pariatur illo rem ipsum dignissimos libero blanditiis porro! Fugiat quaerat vel suscipit, optio corrupti ea?</td>
              <td>Aut quis dignissimos ea error. Doloremque eum vitae, voluptatum adipisci dicta nihil dolorum tempora obcaecati praesentium id nulla, alias quas impedit, illo beatae necessitatibus! Ipsa incidunt eligendi optio dolores doloribus!</td>
              <td>Quo, pariatur magni totam ea nemo. Sed minus modi dolores voluptatem nostrum excepturi distinctio, eaque quisquam, in numquam voluptates. Quasi itaque quia, reiciendis quo quibusdam dolorum? Nulla non sunt eius!</td>
              <td>Perspiciatis blanditiis iusto ipsum illo beatae ullam suscipit odit nam vero distinctio rerum dolore soluta eaque, voluptates ut facere, tempore ratione autem unde dolor cum illum amet consequatur magni! Vitae.</td>
            </tr>

            <tr>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae facilis cumque asperiores suscipit incidunt, pariatur illo rem ipsum dignissimos libero blanditiis porro! Fugiat quaerat vel suscipit, optio corrupti ea?</td>
              <td>Aut quis dignissimos ea error. Doloremque eum vitae, voluptatum adipisci dicta nihil dolorum tempora obcaecati praesentium id nulla, alias quas impedit, illo beatae necessitatibus! Ipsa incidunt eligendi optio dolores doloribus!</td>
              <td>Quo, pariatur magni totam ea nemo. Sed minus modi dolores voluptatem nostrum excepturi distinctio, eaque quisquam, in numquam voluptates. Quasi itaque quia, reiciendis quo quibusdam dolorum? Nulla non sunt eius!</td>
              <td>Perspiciatis blanditiis iusto ipsum illo beatae ullam suscipit odit nam vero distinctio rerum dolore soluta eaque, voluptates ut facere, tempore ratione autem unde dolor cum illum amet consequatur magni! Vitae.</td>
            </tr>
          </table>


        </div> 

        <h2 class="title">список иконок</h2>
        <div class="wysiwyg">
          <p>Иконочный шрифт создан с помощью <a href="https://icomoon.io/">icomoon.io</a></p>
        </div> 
        <div class="icon-preview">
          {% for item in ICONS.iconSets[0].selection %}
            <div class="icon-preview__item" data-class="i-vekta--{{ item.name }}">
              <div class="icon-preview__icon"><span class="i-vekta i-vekta--{{ item.name }}"></span></div>
              <div class="icon-preview__class">i-vekta--{{ item.name }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}