{% extends layout %}
{% block content %}
  <div class="wrapper">
    {% include "blocks/index-hero.html" %}
    {% include "blocks/index-tiles.html" %}

    <section  class="offset-lg">
      <div class="container">
        <h2 class="title">Новости</h2>
        <div class="content-wrapper">
          <article class="wysiwyg offset-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
          </article>
        </div>
        {% include "blocks/news-slider.html" %}
      </div>
    </section>

    <section class="offset-lg">
      {% include "blocks/quote.html" %}
    </section>

    {% include "blocks/subscribe-section.html" %}
    <section class="section">
      <div class="container">
      <!-- LightWidget WIDGET --><script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/519616cdd2b153bf8a2a09461cf39a85.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
      </div>
    </section>
  </div>
{% endblock %}