<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ common.data.company.name }} | {{ locals.title }}</title>
    <meta content="{{ locals.description }}" name="description">
    <meta content="" name="keywords">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="telephone=no" name="format-detection">

    {%- if locals.og %}
      {%- if locals.image %}
      <meta property="og:image" content="{{ locals.image|img_asset }}">
      {%- endif %}
      <meta property="og:title" content="{{ locals.title }}">
      <meta property="og:description" content="{{ locals.description }}">
    {%- endif %}

    <link rel="shortcut icon" href="favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">

    <link href="{{ 'style.css'|css_asset }}" rel="stylesheet" type="text/css">
    <link href="{{ 'vekta-font.css'|css_asset }}" rel="stylesheet" type="text/css">
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% import 'macros/macro.html' as Macros %}
    {% include "blocks/svg-symbols.svg" %}
    {% include "blocks/header.html" %}
    <main>
      {% block content %}{% endblock content %}
      <div style="display: none">
        {% include "blocks/modal_reg.html" %}
        {% include "blocks/modal_login.html" %}
      {% block modals %}{% endblock modals %}
      </div><!--- /modals -->
    </main>
    {% include "blocks/footer.html" %}
    <div class="scroll-top">
      <div class="scroll-top__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <path d="M99.223 92.514L50.102 7.486.777 92.514c13.415 0 25.179-4.125 32.608-10.523 4.953-4.336 7.843-9.496 7.843-15.272h-7.43L39.782 56.4l10.32-17.75 16.306 28.069h-7.43c0 5.57 2.887 10.937 7.637 15.065 7.221 6.605 19.192 10.73 32.608 10.73z"/>
        </svg>
      </div>
      <div class="scroll-top__text">Наверх</div>
    </div>
    {%- if not isExport and _env == 'development'%}
      {% include "blocks/__add_component.html" %}
      <!-- include liveReload only in Dev server -->
      <script src="//localhost:35729/livereload.js"></script>
    {%- endif %}
    {%- if _showPages -%}
      {% include "blocks/__pagelist.html" %}
    {%- endif -%}
    <script src="{{ 'jquery-3.3.1.min.js'|js_asset }}"></script>
    <script src="{{ 'libs.js'|js_asset }}"></script>
    <script src="{{ 'jquery.zoom.js'|js_asset }}"></script>
    {# <script src="{{ 'jquery.fancybox.min.js'|js_asset }}"></script> #}
    {% block scripts %}{% endblock scripts %}
    <script src="{{ 'common.js'|js_asset }}"></script>
  </body>
</html>
