{% extends layout %}
{% block content %}
  <div class="wrapper">
    <div class="hero">
      <div class="hero__slider">
        <div class="hero__slider-item" style="background-image: url({{ 'hero-news.jpg' | uploads }})">
          <div class="hero__content container">
            <div class="hero__label">Новость за 27 декабря</div>
            <div class="hero__title">как приготовить в&nbsp;нашей технике</div>
          </div>
        </div>
      </div>
    </div>
    <section  class="offset-lg offset-top-sm">
      <div class="container">
        <div class="news-topline">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/news.html">Новости</a></li>
            <li class="breadcrumbs__item">как приготовить в нашей технике</li>
          </ul><!-- Breadcrumbs -->
          <a class="news-topline__tag" href="/news.html?tag=food">Приготовление пищи</a>
        </div>
        
      </div>

      <article>
        <div class="container">
          <h2 class="title">как приготовить в нашей технике</h2>
          <div class="wysiwyg offset-sm">
            <div class="date-block news-inner-date">
              <span class="date-block__month">Декабрь</span>
              <span class="date-block__day">27</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. 
            </p>
          </div>
        </div>

        <div class="wrapped-img offset-sm" style="background-image: url({{ 'wrapped-bg.jpg' | uploads }})"></div>

        <div class="container offset-sm">
          <div class="wysiwyg">
            <h3>как приготовить в нашей технике</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
            <p><img src="{{ 'article-img-1.jpg' | uploads }}" alt="" width="100%"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
            <blockquote>как приготовить в&nbsp;нашей технике вкусно и&nbsp;недорого на&nbsp;все случаи жизни</blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam.</p>
          </div>
        </div>
        <div class="container">
          <div>{{ Macros.Share('Поделиться:') }}</div>
        </div>
      </article>
    </section>

    <section class="offset-lg">
      <div class="container">
        <h2 class="title">посмотреть нашу продукцию</h2>
        {% include "blocks/viewed-slider.html" %}
      </div>
    </section>

    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}