{% extends layout %}
{% block content %}
  <div class="wrapper">
    {% include "blocks/index-hero.html" %}
    <section  class="offset-lg offset-top-sm">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">Новости</li>
        </ul><!-- Breadcrumbs -->

        <h2 class="title">Новости</h2>
        <div class="content-wrapper">
          <article class="wysiwyg offset-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
          </article>
        </div>
        {#<div class="news-list-control">
          <select name="">
            <option value="!">Сортировать по</option>
          </select>
        </div>#}
        <div class="metabar h-mb30">
          <div class="metabar__item metabar__item--slot-sort">
            <form action="." method="POST">
              <div class="sort-select">
                <select name="sort" class="custom-select">
                  <option disabled selected value="" >Сортировать по</option>
                  <option value="1">Названию</option>
                  <option value="2">название опции</option>
                  <option value="3">Название опции2</option>
                  <option value="4">название опции3</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="news-list offset-sm">
          {% for item in common.data.news | loop(8)%}
            <div class="news-list__item">
              {{ Macros.NewsCard(item) }}
            </div>
          {% endfor %}
        </div>

        <div class="content-wrapper">
          <article class="wysiwyg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
          </article>
        </div>
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}