{% extends layout %}
{% block content %}
  <div class="wrapper">
    <div class="hero">
      <div class="hero__slider">
        <div class="hero__slider-item">
          <div class="map-wrapper">
            <div class="map" id="pointsOfSeil"></div>
          </div>
        </div>
      </div>
    </div>
    <section class="section section--extra-padding">
      <div class="container">
        <h1 class="h-sronly">Где купить продукцию компании Vekta</h1>
        <div class="sellpoint-wrapper">
          <div class="sellpoint__row">
            <div class="sellpoint__col">
              <div class="sellpoint__title title title--sm">выберите город</div>
              <form class="form h-mb20" action="/addresses.json" method="GET" id="pointsOfSeilForm">
                <select name="city" class="form__control" id="pointsOfSeilSelect">
                  <option value="Москва" selected>Москва</option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Екатеринбург">Екатеринбург</option>
                  <option value="Волгоград">Волгоград</option>
                  <option value="Самара">Самара</option>
                  <option value="Казань">Казань</option>
                </select>
              </form>
              <button class="btn btn--primary" id="pointsOfSeilMyLocation">найти меня</button>
            </div>
            <div class="sellpoint__col">
              <div>
                <div class="sellpoint__title title title--sm">магазины в вашем городе</div>
                <div id="pointsOfSeilNav"></div>
              </div>
            </div>
            <div class="sellpoint__col sellpoint__col--slider">
              <div class="sellpoint__slider">
                <div id="pointsSlider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>

  {% include "blocks/map_template_card.html" %}
{% endblock %}

{% block scripts %}
  <script src="{{ 'pointsofseil.js'|js_asset }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbznG-RLwxrKo-LMUXWM7Wv7dsoEH5f5g&amp;callback=initVektaMap" async defer></script>
{% endblock scripts %}