{% extends layout %}
{% block content %}
  <div class="wrapper">
    <section class="offset-lg offset-top-sm">
      <div class="container">

        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="/products.html">продукция</a></li>
          <li class="breadcrumbs__item"><a href="/products.html">приготовление пищи</a></li>
          <li class="breadcrumbs__item">микроволновая печь MS720ATW</li>
        </ul><!-- Breadcrumbs -->

        <div class="product-layout offset-lg">
          <div class="product-layout__content">
            <div class="product-slider">
              <div class="product-slider__image-base">
                <img src="{{ slider[0].src | uploads }}" alt="микроволновая печь MS720ATW">
              </div>
              <div class="product-slider__thumbs">
                {% for item in product.slider %}
                  <div
                    class="product-slider__thumb"
                    data-src="{{ item.large | uploads }}"
                    {% if item.iframe -%}
                    data-iframe="{{ item.iframe }}"
                    {%- endif %}
                  >
                    <img src="{{ item.src | uploads }}" alt="">
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="product-layout__aside">
            <h1 class="product-layout__title">микроволновая печь <strong>MS720ATW</strong></h1>
            <div class="wysiwyg offset-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam laoreet tortor ac maximus alique met, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam
            </div>
            <div class="product-color h-mb30">
              <div class="product-color__label">Цвет:</div>
              <div class="color-list">
                {% for item in filters.colors | loop(6) -%}
                <label class="color-check" tabindex="-1">
                  <input type="radio" name="color" value="{{ item.hex }}" {% if item.checked %}checked{% endif %}>
                  <span class="color-check__label" style="background-color: {{ item.hex }}"></span>
                </label>
                {% endfor %}
              </div>
            </div>

            <div class="opts theme-{{ product.theme }} offset-sm">
              {% for item in product.opts %}
                <div class="opts__item">
                  <div class="opts__icon">
                    {% include "icons/" ~ item.icon  ~ ".svg" %}
                  </div>
                  <div class="opts__title">{{ item.title }}</div>
                </div>
              {% endfor %}
            </div>

            <div class="offset-sm">
              <a href="#" class="btn btn--primary">Найти магазин</a>&emsp;
              <a href="#" class="btn btn--secondary btn--square" title="Назначение кнопки?"><i class="i-vekta i-vekta--list-plus"></i></a>
            </div>

            <div>{{ Macros.Share('Поделиться:') }}</div>
          </div>
        </div>

        <!-- Product Tabs -->
        <div class="tab">
          <div class="tab__nav">
            {% for item in product.tabs %}
              <a href="#product_tab_{{ loop.index }}" class="{% if loop.first  %}is-active {% endif %}tab__nav-item">
                {% if item.notice %}<span class="notice">3</span>{% endif -%}
                {{ item.label }}
              </a>
            {% endfor %}
          </div>
          <div class="tab__inner">
            {% for item in product.tabs %}
            <div class="{% if loop.first  %}is-active {% endif %} tab__unit" id="product_tab_{{ loop.index }}">
              {% include "blocks/" ~ item.content %}
            </div><!-- /Tab -->
            {% endfor %}
          </div>
        </div>
        <!-- /Product Tabs -->
      </div>
    </section>

    <section class="offset-lg">
      <div class="container">
        <h2 class="title">с этим товаром часто покупают</h2>
        <div class="catalog-list catalog-list--4-in-row">
          {% for item in common.products | loop(4) %}
            <div class="catalog-list__item">
              {{ Macros.Card(item) }}
            </div><!-- / Catalog Item -->
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="offset-lg">
      <div class="container">
        <h2 class="title">посмотреть нашу продукцию</h2>
        {% include "blocks/viewed-slider.html" %}
      </div>
    </section>

    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}