{% extends layout %}
{% block content %}
  <div class="wrapper">
    {% include "blocks/index-hero.html" %}
    <section  class="offset-lg offset-top-sm">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="/products.html">продукция</a></li>
          <li class="breadcrumbs__item">приготовление пищи</li>
        </ul><!-- Breadcrumbs -->

        <h1 class="title">приготовление пищи</h1>
        <div class="catalog-layout">
          <div class="catalog-aside">
            {% include "blocks/filters.html" %}
          </div><!-- Catalog Aside -->
          <div class="catalog-content">
            <div class="metabar">
              <div class="metabar__item"><span>30 товаров</span></div>
              <div class="metabar__item metabar__item--slot-sort">
                <div class="sort-block">
                  <div class="sort-block__label">
                    <span>Сортировать по:</span>
                  </div>
                  <form action="." method="POST">
                    <div class="sort-select">
                      <select name="sort" class="custom-select">
                        <option value="1">Названию</option>
                        <option value="2">название опции</option>
                        <option value="3">Название опции2</option>
                        <option value="4">название опции3</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="catalog-list">
              {% for item in common.products | loop(6) -%}
                <div class="catalog-list__item">
                  {{ Macros.Card(item) }}
                </div><!-- / Catalog Item -->
              {%- endfor %}
            </div>
          </div><!-- Catalog Content -->
        </div><!-- Catalog Layout -->
      </div>
    </section>

    <section class="offset-lg">
      <div class="container">
        <h2 class="title">Вы посмотрели</h2>
        {% include "blocks/viewed-slider.html" %}
      </div>
    </section>

    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}
