{% extends layout %}
{% import 'macros/recipe.html' as Recipe %}
{% block content %}
  <div class="wrapper">
    {% include "blocks/index-hero.html" %}
    <section class="offset-y-sm">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="/">Главная</a></li>
          <li class="breadcrumbs__item"><a href="/recipes.html">Рецепты</a></li>
          <li class="breadcrumbs__item">Котлеты в микроволновке</li>
        </ul><!-- Breadcrumbs -->
        <h1 class="title">Котлеты в микроволновке</h1>
        <div class="row">
          <div class="col--md-3 col--12-6 col--xs-12 offset-sm">
            <div class="recipe-panel">
              <div class="recipe-label">Техника</div>
              <ul class="tech-list">
                <li class="tech-list__item">
                  <div class="tech-list__icon">
                    {% include "../public/uploads/tech-list-1.svg" %}
                  </div>
                  <a href="/product.html" target="_blank" class="tech-list__name">Мясорубка</a>
                </li>
                <li class="tech-list__item">
                  <div class="tech-list__icon">
                    {% include "../public/uploads/tech-list-2.svg" %}
                  </div>
                  <a href="/product.html" target="_blank" class="tech-list__name">Блендер с чоппером</a>
                </li>
                <li class="tech-list__item">
                  <div class="tech-list__icon">
                    {% include "../public/uploads/tech-list-3.svg" %}
                  </div>
                  <a href="/product.html" target="_blank" class="tech-list__name">СВЧ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col--md-3 col--sm-6 col--xs-12 offset-sm">
            <div class="recipe-panel">
              <span class="recipe-icon recipe-icon--portions"></span>
              <div class="recipe-label">Время <br />приготовления</div>
              <div class="recipe-text"><big>15</big>минут</div>
            </div>
          </div>
          <div class="col--md-3 col--sm-6 col--xs-12 offset-sm">
            <div class="recipe-panel">
              <span class="recipe-icon recipe-icon--times"></span>
              <div class="recipe-label">Порции</div>
              <div class="recipe-text"><big>2</big></div>
            </div>
          </div>
          <div class="col--md-3 col--sm-12 col--xs-12">
            <div class="recipe-panel">
              <div class="recipe-label">Ингридиенты</div>
              <ul class="ingridients">
                <li>Фарш (любое мясо) — 250 г.</li>
                <li>Лук репчатый — 1 луковица</li>
                <li>Чеснок — 1 зубчик</li>
                <li>Соль — по вкусу</li>
                <li>Черный перец — по вкусу</li>
                <li>Белый хлеб — 50 гр.</li>
                <li>Молоко — 50 гр.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="wrapped-img" style="background-image: url({{ 'recipe-wrapper-bg.jpg' | uploads }})"></div>
    <div class="section">
      <div class="container">
        <h4 class="title title--sm">приготовление</h4>
        <ul class="cooking-list">
          {% for item in recipe.cooking %}
            <li class="cooking-list__item">
              <div class="cooking wysiwyg">{{ item.text }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="section section--theme-gray">
      <div class="container">
        <h4  class="title title--sm">приготовление</h4>
        <div class="wysiwyg">
          <p>Можно делать то же самое в кружке, а не в тарелке, а перед приготовлением добавить в яйца бекон, колбасу, сыр или что-нибудь еще.</p>
        </div>
      </div>
    </div>
    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}