{% extends layout %}
{% import 'macros/recipe.html' as Recipe %}
{% block content %}
  <div class="wrapper">
    {% include "blocks/index-hero.html" %}
    <section class="offset-lg offset-top-sm">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="/recipes.html">Рецепты</a></li>
        </ul><!-- Breadcrumbs -->
        <h1 class="title">Рецепты Vekta</h1>
        <form action="#" method="POST" class="recipe-search offset-sm">
          <input placeholder="Название блюда или техники" class="recipe-search__control" type="text" name="query" required>
          <button type="submit" class="recipe-search__btn">{{ Macros.Icon('i-search')}}</button>
        </form>
        <div class="recipe-list">
          {% for item in recipes | loop(8) %}
            <div class="recipe-list__item">
              {{ Recipe.Card(item) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}