{% extends layout %}
{% block content %}
  <div class="wrapper">
    <section class="section section--theme-red">
      <div class="container">
        <div class="text-center">
          <h2 class="title">хочешь быть уверенным в&nbsp;гарантии?</h2>
          <p class="offset-sm text-upper text-ls200">зарегистрируй товар на нашем сайте</p>
          <a href="#" class="btn btn--primary">Регистрация</a>
        </div>
      </div>
    </section>
    <div class="hero">
      <div class="hero__slider">
        <div class="hero__slider-item">
          <div class="map-wrapper">
            <div class="map" id="pointsOfSeil"></div>
          </div>
        </div>
      </div>
    </div>
    <section class="section section--extra-padding">
      <div class="container">
        <div class="sellpoint-wrapper">
          <div class="sellpoint__row">
            <div class="sellpoint__col">
              <div class="sellpoint__title title title--sm">выберите город</div>
              <form class="form h-mb20" action="/addresses.json" method="GET" id="pointsOfSeilForm">
                <select name="city" class="form__control" id="pointsOfSeilSelect">
                  <option value="Москва" selected>Москва</option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Екатеринбург">Екатеринбург</option>
                  <option value="Волгоград">Волгоград</option>
                  <option value="Самара">Самара</option>
                  <option value="Казань">Казань</option>
                </select>
              </form>
              <button class="btn btn--primary" id="pointsOfSeilMyLocation">найти меня</button>
            </div>
            <div class="sellpoint__col">
              <div>
                <div class="sellpoint__title title title--sm">магазины в вашем городе</div>
                <div id="pointsOfSeilNav"></div>
              </div>
            </div>
            <div class="sellpoint__col sellpoint__col--slider">
              <div class="sellpoint__slider">
                <div id="pointsSlider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h2 class="title">FAQ</h2>
        <div class="accordion-list theme-faq">
          {% for group in ["Название категории"] | loop (4) %}
            <div class="accordion accordion--group">
              <div class="accordion__title">{{ group }} {{ loop.index }}</div>
              <div class="accordion__body">
              {% for item in faq %}
                <div class="accordion">
                  <div class="accordion__title">{{ item.question}}</div>
                  <div class="accordion__body">
                    <div class="wysiwyg small-offsets">
                      <p><b>Проверка наличия и обновление программного обеспечения</b><br/>
                      Проверить наличие обновлений ПО моделей SMART можно через меню: Настройки – Общие – Беспроводное обновление – Проверить обновление.</p>

                      <p><b>Установка программного обеспечения</b><br/>
                        С помощью USB флэш-диска
                        Для переустановки программного обеспечения на телевизоры VEKTA необходимо:
                      </p>

                      <ol>
                        <li>Предварительно разархивировать файл с программным обеспечением и записать в корневую папку накопителя (например, флэш-диска) только файл install.</li>
                        <li>Отключить ТВ от питания (извлечь штекер из розетки) и дождаться, когда погаснет лампочка индикации.</li>
                        <li>Подключить флэш-диск к USB-разъему.</li>
                        <li>Вставить вилку в розетку. Установка начнется автоматически.</li>
                        <li>Дождаться окончания установки.</li>
                      </ol>

                      <p><b>Автоматическое обновление</b><br/>
                        Уведомление о возможности обновления ПО телевизора автоматически появится на вашем устройстве при включении. После появления предупреждения об обновлении, пожалуйста, нажмите кнопку «Загрузить».
                      </p>

                      <p><b>ВАЖНО:</b></p>
                      <ol>
                        <li>Процесс обновления займет некоторое время.</li>
                        <li>Пожалуйста, не совершайте никаких операций в течение этого времени!</li>
                        <li>Не отключайте питание телевизора до окончания процесса!</li>
                      </ol>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
    <section class="section section--theme-lightgray">
      <div class="container">
        <h2 class="title">написать нам</h2>
        <form action="." class="form" method="POST">
          <div class="row">
            <div class="col--md-7">
              <div class="row">
                <div class="col--md-6">
                  <div class="form__group">
                    <input type="text" class="form__control" name="name" placeholder="Имя*" required>
                  </div>
                </div>
                <div class="col--md-6">
                  <div class="form__group">
                    <input type="text" class="form__control" name="lastname" placeholder="Фамилия" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col--md-6">
                  <div class="form__group">
                    <input type="email" class="form__control" name="email" placeholder="Email" >
                  </div>
                </div>
                <div class="col--md-6">
                  <div class="form__group">
                    <input type="tel" class="form__control" name="tel" placeholder="Телефон" >
                  </div>
                </div>
              </div>

              <div class="form__group">
                <select name="subject" class="form__control">
                  <option value="" disabled selected>Тема</option>
                  <option value="Вопрос">Вопрос</option>
                  <option value="Предложение">Предложение</option>
                  <option value="Грязная кляуза">Грязная кляуза</option>
                </select>
              </div>

              <div class="form__group">
                <div class="capcha">
                  <div class="row">
                    <div class="col--md-5 col--md-offset-1">
                      <div class="capcha__img">
                        <img src="{{ 'capcha.jpg' | uploads }}" alt="capture">
                      </div>
                    </div>
                    <div class="col--md-3">
                      <div class="capcha__controls">
                        <button type="button" class="capcha__controls-item">
                          {{ Macros.Icon('i-reload') }}
                        </button>
                        <button type="button" class="capcha__controls-item">
                          {{ Macros.Icon('i-volume') }}
                        </button>
                        <button type="button" class="capcha__controls-item">
                          {{ Macros.Icon('i-question') }}
                        </button>
                      </div>
                    </div>
                    <div class="col--md-3">
                      <input type="text" class="form__control" title="Введите символы с картинки" required>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col--md-5">
              <div class="form__group">
                <textarea name="msg" rows="8" class="form__control" placeholder="Сообщение" style="min-height: 196px;"></textarea>
              </div>
              <div class="text-right"><button type="submit" class="btn btn--primary">Отправить</button></div>
            </div>
          </div>
        </form>
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>
  {% include "blocks/map_template_card.html" %}
{% endblock %}

{% block scripts %}
  <script src="{{ 'pointsofseil.js'|js_asset }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSKJ1zhvtqPvj5LOwk-bwbH-HIb7OpROc&amp;callback=initVektaMap" async defer></script>
{% endblock scripts %}