{% extends layout %}
{% block content %}
  <div class="wrapper">
    <div class="hero">
      <div class="hero__slider">
        <div class="hero__slider-item" style="background-image: url({{ 'hero-feedback.jpg' | uploads }})">
          <div class="hero__content container">
            <div class="row">
              <div class="col--md-6">
                <div class="hero__title">мы&nbsp;вас чем-то огорчили?</div>
              </div>
              <div class="col--md-6">
                <img src="{{ 'sadness.png' | uploads }}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section  class="offset-lg offset-top-sm">
      <div class="container">
        <h2 class="title h-mb10">помогите нам стать лучше</h2>
        <p class="h-fz20 text-upper offset-sm">сообщите причину</p>
        <form class="form" action="." method="GET">
          <input type="hidden" name="token" value="d2f6229eeedf465c9a19a5513e23cbf9">
          <div class="form__group">
            {% for item in unsubscribe %}
              <div class="h-mb25">
                <label class="checkbox checkbox--large-label">
                  <input type="checkbox" value="{{item.title}}" name="reason">
                  <div class="checkbox__box"></div>
                  <span class="checkbox__text">{{ item.title }}</span>
                </label>

                {% if loop.last %}
                  <div class="h-mt15" style="max-width: 336px">
                    <input type="text" name="other" class="form__control">
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            
          </div>
          <button class="btn btn--primary btn--bordered btn--equal-input">Отписаться</button>
        </form>
      </div>
    </section>
    {% include "blocks/subscribe-section.html" %}
  </div>
{% endblock %}