.icon-preview {
  display: -moz-flex;
  display:  -ms-flex;
  display:   -o-flex;
  display: -ms-flexbox;
  display:      flex;
  -moz-flex-direction: row;
   -ms-flex-direction: row;
    -o-flex-direction: row;
       flex-direction: row;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
.icon-preview__item {
  display: block;
  -ms-flex: 0 0 200px;
      flex: 0 0 200px;
  margin-bottom: 20px;
  border: 1px solid #c0c0c0;
  padding: 10px;
}
.icon-preview__icon {
  text-align: center;
  font-size: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.icon-preview__class {
  font-weight: 500;
  text-align: center;
  font-size: 13px;
}
