// base variables
@base-font: 'DIN Pro', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
@base-font-size: 16px;
@base-font-weight: 400;
@base-line-height: 1.2;
@base-color: @gray-dark;
@base-bg-color: #fff;
@base-box-model: border-box;

// color definitions
@gray-darkest: #1c1c1c;
@gray-dark: #484848;
@gray: #666666;
@gray-light: #d7d9da;
@blue: #00bcf2;
@red: #e2211c;
@brown: #9b6c18;
@green: #429644;
@primary-color: @red;

// Themes definitions
@theme-tv: #E42312;
@theme-media: #ED7102;
@theme-mobile: #6A2382;
@theme-gadget: #992785;
@theme-beauty: #E72A77;
@theme-auto: #352D87;
@theme-lighting: #0066B1;
@theme-climat: #009EE3;
@theme-cleaning: #00B5D8;
@theme-clothes: #00A585;
@theme-sport: #009C3C;
@theme-hair: #6AB650;
@theme-products: #B3CD4C;
@theme-drinks: #fbd12f;
@theme-food: #AA6C00;
//
@themes-names: 
	theme-tv, 
	theme-media, 
	theme-mobile,
	theme-gadget,
	theme-beauty,
	theme-auto,
	theme-lighting,
	theme-climat,
	theme-cleaning,
	theme-clothes,
	theme-sport,
	theme-hair,
	theme-products,
	theme-drinks,
	theme-food;

@themes-colors: 
	@theme-tv,
	@theme-media,
	@theme-mobile,
	@theme-gadget,
	@theme-beauty,
	@theme-auto,
	@theme-lighting,
	@theme-climat,
	@theme-cleaning,
	@theme-clothes,
	@theme-sport,
	@theme-hair,
	@theme-products,
	@theme-drinks,
	@theme-food;

// layout index
@zidx-main: 1;
@zidx-over: 2;
@zidx-supper: 3;

// typography

@link-color: @red;
@info-color: #999;

@selection-bg: @primary-color;
@selection-color: #fff;

@font-path: '../fonts/';

@input-height: 42px;
@btn-height: 52px;
@filter-control-height: 32px;
// media query brakepoints
@screen-xs:                        480px;
@screen-xs-min:                    @screen-xs;
@screen-phone:               			 @screen-xs-min;
@screen-sm:                        768px;
@screen-sm-min:                    @screen-sm;
@screen-tablet:                    @screen-sm-min;
@screen-md:                        992px;
@screen-md-min:                    @screen-md;
@screen-desktop:                   @screen-md-min;
@screen-lg:                        1200px;
@screen-lg-min:                    @screen-lg;
@screen-lg-desktop:                @screen-lg-min;
@screen-xl:                        1600px;
@screen-xl-min:                    @screen-xl;
@screen-xs-max:                    ( @screen-sm-min - 1 );
@screen-sm-max:                    ( @screen-md-min - 1 );
@screen-md-max:                    ( @screen-lg-min - 1 );
@screen-lg-max:                    ( @screen-xl-min - 1 );

// grid settings
@grid-columns:              12;
@grid-gutter-width:         30px;

@container-tablet:             (720px + @grid-gutter-width);
@container-sm:                 @container-tablet;
@container-desktop:            (940px + @grid-gutter-width);
@container-md:                 @container-desktop;
@container-large-desktop:      (1172px + @grid-gutter-width);
@container-lg:                 @container-large-desktop;

@section-ofset:                74px;


//typography
@paragraph-margin-bottom: .75em;
@headings-margin-bottom: .75em;

@h1-font-size: 36px;
@h2-font-size: 30px;
@h3-font-size: 24px;
@h4-font-size: 18px;
@h5-font-size: 16px;
@h6-font-size: 14px;

@headers-lh: 1.24;
@headers-mb: 1.24;


@wysiwyg-color: @gray-dark;