<button class="btn btn--primary js-toggle-filters">
  {{ Macros.Icon("i-filter")}}
  Фильтры
</button>
<form action="."  method="POST" class="filter theme-food">
  <div class="filter__section">
    <h4 class="filter__title"><span>Объем</span></h4>
    <div class="filter__body">
      <div class="filter-checks">
        {% for item in filters.size -%}
        <label class="filter-check" tabindex="-1">
          <input class="filter-check__input" type="checkbox" name="volume" {% if item.checked %}checked{% endif %}>
          <span class="filter-check__label">{{ item.label }}</span>
        </label>{% endfor %}
      </div>
    </div>
  </div><!-- /Filter section -->

  <div class="filter__section">
    <h4 class="filter__title"><span>Мощность</span></h4>
    <div class="filter__body">
      <div class="filter-checks">
        {% for item in filters.power -%}
        <label class="filter-check" tabindex="-1">
          <input class="filter-check__input" type="checkbox" name="power" {% if item.checked %}checked{% endif %}>
          <span class="filter-check__label">{{ item.label }}</span>
        </label>{% endfor %}
      </div>
    </div>
  </div><!-- /Filter section -->

  <div class="filter__section">
    <h4 class="filter__title"><span>управление</span></h4>
    <div class="filter__body">
      <select name="controls" class="filter-select">
        {% for item in filters.controls %}
          <option value="{{ item.value }}">{{ item.label }}</option>
        {% endfor %}
      </select>
    </div>
  </div><!-- /Filter section -->

  <div class="filter__section has-accordion is-active">
    <h4 class="filter__title"><span>Функции</span></h4>
    <div class="filter__body">
      <div class="accordion-list theme-food">
        <div class="accordion">
          <div class="accordion__title">Гриль</div>
          <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p>
          </div>
        </div>
        
        <div class="accordion">
          <div class="accordion__title">Мощность</div>
          <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p>
          </div>
        </div>
        
        
        <div class="accordion">
          <div class="accordion__title">Разморозка по весу</div>
          <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p>
          </div>
        </div>
        
        
        <div class="accordion">
          <div class="accordion__title">Отложенный старт</div>
          <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p>
          </div>
        </div>
        
        <div class="accordion">
          <div class="accordion__title">Многоэтапные Блюда</div>
          <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p>
          </div>
        </div>
        
        <div class="accordion">
          <div class="accordion__title">Таймер</div>
          <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p>
          </div>
        </div>
        
        <div class="accordion">
          <div class="accordion__title">Защита от детей</div>
          <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /Filter section -->

  <div class="filter__section">
    <h4 class="filter__title"><span>Цвет</span></h4>
    <div class="filter__body">
      <div class="color-list">
        {% for item in filters.colors -%}
        <label class="color-check" tabindex="-1">
          <input type="checkbox" name="color" value="{{ item.hex }}" {% if item.checked %}checked{% endif %}>
          <span class="color-check__label" style="background-color: {{ item.hex }}"></span>
        </label>{% endfor %}
      </div>
    </div>
  </div><!-- /Filter section -->

  <div class="filter__section">
    <h4 class="filter__title"><span>Теги</span></h4>
    <div class="filter__body">
      <div class="filter-tags">
        {% for item in filters.tags -%}
        <label class="filter-tag">
          <input type="checkbox" name="tag" value="{{ item.value }}" {% if item.checked %}checked{% endif %}>
          <span class="filter-tag__label">{{ item.label }}</span>
        </label>{% endfor %}
      </div>
    </div>
  </div><!-- /Filter section -->
  <div class="filter__section">
    <div class="filter__body">
      <input class="btn btn--primary js-toggle-filters" type="submit" id="set_filter" name="set_filter" value="Показать">
    </div>
  </div><!-- /Filter section -->
</form><!-- /Filters  -->