<footer class="footer section">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        <div class="footer__title">Компания Vekta</div>
        <ul class="footer__links">
          <li class="footer__links-item">
            <a href="/about.html" class="footer__link">О компании</a>
          </li>

          <li class="footer__links-item">
            <a href="/partneram.html" class="footer__link">Партнерам</a>
          </li>

          <li class="footer__links-item">
            <a href="/feedback.html" class="footer__link">Контакты</a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <a href="mailto:info@myvekta.ru" class="footer__title footer__tel">info@myvekta.ru</a>
        <div class="footer__text">
          © 2019 Vekta. Все права защищены.
        </div>
      </div>

      <div class="footer__col">
        <div class="footer__title">МЕНЮ</div>
        <ul class="footer__links">
          <li class="footer__links-item">
            <a href="#" class="footer__link">Продукция</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Где купить</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Поддержка</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Новости</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Сравнение</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Личный кабинет</a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__title">Сети</div>
        <ul class="social footer__social">
          <li class="social__item">
            <a href="#" class="social__link">
              {{ Macros.Icon('i-vk') }}
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link">
              {{ Macros.Icon('i-odnoklassniki') }}
            </a>
          </li>
          
          <li class="social__item">
            <a href="#" class="social__link">
              {{ Macros.Icon('i-instagram') }}
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link">
              {{ Macros.Icon('i-fb') }}
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link">
              {{ Macros.Icon('i-youtube') }}
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__title">&nbsp;</div>
        <ul class="footer__links">
          <li class="footer__links-item">
            <a href="#" class="footer__link">Правовая  информация</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Политика конфиденциальности</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Cookie</a>
          </li>

          <li class="footer__links-item">
            <a href="#" class="footer__link">Карта сайта</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>