{%- set nav = common.data.nav -%}
<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__col header__col--slot-logo">
        <a href="/" class="header__logo">
          <img src="{{ 'logo.png' | img_asset }}" alt="{{ common.data.company.name }}">
        </a>
      </div>
      <div class="header__col header__col--slot-nav">
        <nav class="header__nav">
          {% for item in nav %}
            <a href="{{ item.url }}" data-dropdown="{{ item.dropdown }}" class="header__nav-item {% if locals.activeNav == loop.index -1 %}is-active{% endif %}">{{ item.title }}</a>
          {% endfor %}
          <a href="#" data-dropdown="{{ item.dropdown }}" class="header__nav-item header__nav-item--visible-mobile">
            <span class="header__nav-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
                <path d="M67.1 48.8H2.9c-.6 0-1.1-.5-1.1-1.1s.5-1.1 1.1-1.1H67c.6 0 1.1.5 1.1 1.1s-.4 1.1-1 1.1z"></path>
                <path d="M56 55.2H14c-4.2 0-7.6-3.4-7.6-7.6 0-.6.5-1.1 1.1-1.1h55c.6 0 1.1.5 1.1 1.1 0 4.3-3.4 7.6-7.6 7.6zM8.7 48.8c.5 2.4 2.7 4.2 5.3 4.2h42c2.6 0 4.7-1.8 5.3-4.3H8.7zM62 44.5H8c-.3 0-.6-.1-.8-.4-.2-.3-.3-.6-.2-.9 2.5-13.5 14.3-23.3 28-23.3s25.5 9.8 28.1 23.2c.1.3 0 .7-.2.9-.3.3-.6.5-.9.5zM9.4 42.3h51.3C57.8 30.5 47.2 22.1 35 22.1S12.2 30.5 9.4 42.3z"></path>
                <path d="M40.1 22.1c-.6 0-1.1-.5-1.1-1.1 0-2.2-1.8-4-4-4s-4 1.8-4 4c0 .6-.5 1.1-1.1 1.1s-1.1-.5-1.1-1.1c0-3.4 2.8-6.3 6.3-6.3s6.3 2.8 6.3 6.3c-.2.6-.7 1.1-1.3 1.1z"></path>
              </svg>
            </span>Рецепты</a>
        </nav>
        <div class="header__bar">
          <a href="/compare.html" class="header__bar-item{% if locals.compare %} is-active{% endif %}">
            {{ Macros.Icon('i-bar') }}
            <span class="notice">3</span>
          </a>
          <a href="/compare.html" class="header__bar-item header__geo">
            {{ Macros.Icon('i-geo') }}
            <span class="header__geo-text">Ленинградская область</span>
          </a>
          <div class="header__bar-item js-searchtoggle">
            {{ Macros.Icon('i-search') }}
          </div>
          <a href="/cabinet.html" class="header__bar-item{% if locals.cabinet %} is-active{% endif %}">
            {{ Macros.Icon('i-user') }}
          </a>
          <a href="#" class="header__bar-item hamburger">
            <span class="hamburger__line"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="searchbox">
    <form action="#" class="searchbox__form" >
      <input type="text" name="search" class="form__control searchbox__control">
      <button class="searchbox__btn" >Искать</button>
    </form>
  </div>

  <div class="dropmenu" data-dropdown-id="catalog">
    <div class="container">
      <div class="dropmenu__close"></div>
      <div class="dropmenu__inner">
        {%- for item in common.data.dropmenu %}
          {%- set tIndex = loop.index -%}
          <div class="dropmenu__unit{% if item.inactive %} is-disabled{% endif %}" data-theme="{{ item.theme }}">
            <a href="#" class="dropmenu__title">{{ item.title }}</a>
            {%- if item.items %}
              <ul class="dropmenu__sublist">
                {%- for link in item.items %}
                  {%- set lIndex = loop.index -%}
                  <li class="dropmenu__sublist-item">
                    <a href="#" class="dropmenu__link{% if tIndex == 4 and lIndex == 1 %} is-active{% endif %}" >{{ link }}</a>
                  </li>
                {%- endfor %}
              </ul>
            {%- endif %}
          </div>
        {%- endfor %}
        <div class="dropmenu__unit is-hidden-mobile">
          <a href="/recipes.html" class="dropmenu__title">
            <span class="dropmenu__icon">
              <svg id="Слой_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
                <style></style>
                <path d="M67.1 48.8H2.9c-.6 0-1.1-.5-1.1-1.1s.5-1.1 1.1-1.1H67c.6 0 1.1.5 1.1 1.1s-.4 1.1-1 1.1z"></path>
                <path d="M56 55.2H14c-4.2 0-7.6-3.4-7.6-7.6 0-.6.5-1.1 1.1-1.1h55c.6 0 1.1.5 1.1 1.1 0 4.3-3.4 7.6-7.6 7.6zM8.7 48.8c.5 2.4 2.7 4.2 5.3 4.2h42c2.6 0 4.7-1.8 5.3-4.3H8.7zM62 44.5H8c-.3 0-.6-.1-.8-.4-.2-.3-.3-.6-.2-.9 2.5-13.5 14.3-23.3 28-23.3s25.5 9.8 28.1 23.2c.1.3 0 .7-.2.9-.3.3-.6.5-.9.5zM9.4 42.3h51.3C57.8 30.5 47.2 22.1 35 22.1S12.2 30.5 9.4 42.3z"></path>
                <path d="M40.1 22.1c-.6 0-1.1-.5-1.1-1.1 0-2.2-1.8-4-4-4s-4 1.8-4 4c0 .6-.5 1.1-1.1 1.1s-1.1-.5-1.1-1.1c0-3.4 2.8-6.3 6.3-6.3s6.3 2.8 6.3 6.3c-.2.6-.7 1.1-1.3 1.1z"></path>
              </svg>
            </span>рецепты</a>
        </div>
      </div>
    </div>
  </div>
</header>
