<div class="hero">
  <div class="hero__slider">
    {% for item in index.slides %}
      <div class="hero__slider-item" style="background-image: url({{ item.image | uploads }})" data-sm-bg="https://via.placeholder.com/150">
        <div class="hero__content container">
          <div class="hero__label">{{ item.label }}</div>
          <h2 class="hero__title">{{ item.title }}</h2>
          <div class="hero__sub-title">{{ item.subTitle }}</div>
          {% if item.btn %}
            <div class="hero__controls">
              <a href="{{ item.btn.url }}" class="btn btn--primary hero__btn">{{ item.btn.text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
