<div class="tile-list-wrapper offset-lg">
  <div class="tile-list">
    {% for tile in index.tiles %}
      <div class="tile-list__item {% if tile.large %}tile-list__item--size-lg{% endif %}">
        <div class="tile cover theme-{{ tile.theme }}" style="background-image: url({{ tile.image | uploads }})">
          <div class="tile__inner">
            <div class="tile__label">{{ tile.label }}</div>
            {% if tile.icon %}
              <div class="tile__icon">
                {% include "../icons/" ~ tile.theme  ~ ".svg" %}
              </div>
            {% endif %}
            <div class="tile__title">{{ tile.title }}</div>
            <div class="tile__text">{{ tile.text }}</div>
          </div>
          <a href="{{ tile.url }}" class="tile__link">{{ tile.title }}</a>
        </div>
        
        {% if tile.sublist and not tile.disabled %}
          <div class="subcategories theme-{{ tile.theme }}" data-group="{{ tile.theme }}">
            <div class="subcategories__inner">
              <div class="subcategories__list">
                {% for item in tile.sublist -%}
                <div class="subcategories__list-item">
                  <a href="{{ item.url }}" class="subcategories__link" title="{{ item.title }}">
                    <span class="subcategories__icon">
                      {% include "../icons/" ~ item.icon  ~ ".svg" %}
                    </span>
                  </a>
                </div>
                {% endfor -%}
              </div>
              <div class="subcategories__label"><span></span></div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>