<!-- WARNING! Do not remove this template  -->
<div style="display: none" id="templateCard">
  <div class="sellpoint-card bordered-box">
    <div class="sellpoint__title title title--sm">Адрес магазина</div>
    <div class="sellpoint-card__name">
      <span data-slot="name"></span>
    </div>
    <div class="sellpoint-card__option">
      <i class="i-vekta i-vekta--location-pin"></i>
      <span data-slot="address"></span>
    </div>

    <div class="sellpoint-card__option">
      <i class="i-vekta i-vekta--call-end"></i>
      <span data-slot="tel"></span>
    </div>

    <div class="sellpoint-card__option">
      <i class="i-vekta i-vekta--envelop"></i>
      <div data-slot="email"></div>
    </div>

    <div class="sellpoint-card__text wysiwyg">
      <span data-slot="text"></span>
    </div>
  </div>
</div>
<!-- /WARNING  -->