<div class="modal modal--size-sm" id="modalLogIn">
  <div class="modal__inner">
    <h3 class="modal__title title">вход</h3>
    <form action="." method="GET" class="form">
      <div class="form__group">
        <label class="form__label" for="login_user_email">Email*</label>
        <input type="email" name="email" id="login_user_email" class="form__control" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="login_user_password">пароль*</label>
        <input type="password" name="password" id="login_user_password" class="form__control" required>
      </div>
      <div class="form__group">
        <label class="form__label">войти с помощью</label>
        <div class="share">
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-vk') }}</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-odnoklassniki') }}</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-instagram') }}</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-fb') }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="form__group row">
        <div class="col--md-6">
          <button type="submit" class="btn btn--primary btn--bordered h-mb20">Войти</button>
          <a href="#" class="btn btn--block btn--light js-openmodal" data-modal="#modalReg">Зарегистрироваться</a>
        </div>
      </div>
    </form>
  </div>
</div>