<div class="modal modal--size-sm" id="modalReg">
  <div class="modal__inner">
    <h3 class="modal__title title">регистрация</h3>
    <form action="." method="GET" class="form">
      <div class="form__group">
        <label class="form__label" for="reg_user_name">Имя*</label>
        <input type="text" name="name" id="reg_user_name" class="form__control" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="reg_user_last_name">фамилия*</label>
        <input type="text" name="last_name" id="reg_user_last_name" class="form__control" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="reg_user_email">Email*</label>
        <input type="email" name="name" id="reg_user_email" class="form__control" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="reg_user_password">пароль*</label>
        <input type="password" name="name" id="reg_user_password" class="form__control" required>
      </div>
      <div class="form__group">
        <label class="form__label">войти с помощью</label>
        <div class="share">
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-vk') }}</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-odnoklassniki') }}</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-instagram') }}</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">{{ Macros.Icon('i-fb') }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="capcha">
        <div class="form__group">
          <div class="capcha__img">
            <img src="{{ 'capcha.jpg' | uploads }}" alt="capture">
          </div>
        </div>
        <div class="h-mb20">
          <button type="submit" class="btn btn--primary btn--bordered">регистрация</button>
        </div>
        <div class="h-mb20">
          <a href="#" class="btn btn--block btn--light js-openmodal" data-modal="#modalLogIn">вход</a>
        </div>
      </div>
    </form>
  </div>
</div>