<div class="modal modal--size-sm" id="modalEditName">
  <div class="modal__inner">
    <h3 class="modal__title title">Редактировать</h3>
    <form action="." method="GET" class="form">
      <div class="form__group">
        <label class="form__label" for="edit_user_name">Имя*</label>
        <input type="text" name="name" id="edit_user_name" class="form__control" value="Константин" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="edit_user_lname">Фамилия*</label>
        <input type="text" name="last_name" id="edit_user_lname" class="form__control" value="БОГОРОЖДЕСТВЕНСКИЙ" required>
      </div>
      <div class="form__group row">
        <div class="col--md-6">
          <button type="submit" class="btn btn--primary btn--bordered h-mb20">Сохранить</button>
          <a href="#" class="btn btn--block btn--light" data-fancybox-close>отмена</a>
        </div>
      </div>
    </form>
  </div>
</div>