
<div class="accordion-list theme-food">
  <div class="accordion is-active">
    <div class="accordion__title">общая информация</div>
    <div class="accordion__body">
      <div class="opt-table-wrapper">
        <table class="opt-table">
          <tbody>
            <tr>
              <td>
                Ширина (мм)&nbsp;<div class="vekta-tooltip">
                  <div class="vekta-tooltip__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti neque voluptatem veniam rem explicabo minus dignissimos! Rerum saepe unde accusamus, distinctio quis eveniet repudiandae suscipit, earum aliquam, autem id! Temporibus!
                    <div class="vekta-tooltip__title">Словарь терминов</div>
                  </div>
                </div>
              </td>
              <td>462</td>
            </tr>
            <tr>
              <td>Высота без рабочей поверхности (мм)&nbsp;<div class="vekta-tooltip" data-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti neque voluptatem veniam rem explicabo minus dignissimos! Rerum saepe unde accusamus, distinctio quis eveniet repudiandae suscipit, earum aliquam, autem id! Temporibus!"></div></td>
              <td>290</td>
            </tr>
            <tr>
              <td>Максимальная мощность микроволн&nbsp;<div class="vekta-tooltip">
                  <div class="vekta-tooltip__content">
                    <img src="http://lorempixel.com/400/200/" alt="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti neque voluptatem veniam rem explicabo minus dignissimos! Rerum saepe unde accusamus, distinctio quis eveniet repudiandae suscipit, earum aliquam, autem id! Temporibus!
                    <div class="vekta-tooltip__title">Словарь терминов</div>
                  </div>
                </div>
              </td>
              <td>800</td>
            </tr>
            <tr>
              <td>Открытие двери</td>
              <td>Кнопка</td>
            </tr>
            <tr>
              <td>Дополнительная функция</td>
              <td>Микроволны</td>
            </tr>
            <tr>
              <td>Диаметр вращающейся тарелки (мм)</td>
              <td>245</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion__title">Мощность</div>
    <div class="accordion__body">
      <div class="wysiwyg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p></div>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion__title">Разморозка по весу</div>
    <div class="accordion__body">
      <div class="wysiwyg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p></div>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion__title">Отложенный старт</div>
    <div class="accordion__body">
      <div class="wysiwyg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p></div>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion__title">Многоэтапные Блюда</div>
    <div class="accordion__body">
      <div class="wysiwyg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p></div>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion__title">Таймер</div>
    <div class="accordion__body">
      <div class="wysiwyg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p></div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__title">Защита от детей</div>
    <div class="accordion__body">
      <div class="wysiwyg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius fuga ab vel quo animi eos a reiciendis illum temporibus! Nam veniam velit ipsa nihil, est aperiam eum vero ullam!</p></div>
    </div>
  </div>
</div>
