<div class="container">
  <h2 class="title">Компания</h2>
  <div class="content-wrapper">
    <div class="quote">
      <div class="quote__content wysiwyg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit expedita, dolor sint, tenetur nostrum culpa alias voluptatum sunt assumenda natus delectus eligendi iure, cupiditate hic architecto deserunt eaque sapiente. Facilis accusantium voluptates ullam ab&nbsp;atque mollitia eum, autem pariatur veritatis, nemo maiores, non ut&nbsp;deserunt ratione rerum exercitationem eos!</p>
      </div>
      <div class="quote__author">Генеральный директор</div>
    </div>
  </div>
</div>