<section class="section section--theme-dark section--extra-padding no-print">
  <div class="container text-center">
    <h2 class="title h-mb20">РАССЫЛКА Новостей</h2>
    <div class="text-info offset-sm">Будь в курсе новостей!</div>
    <form action="#" method="POST" class="form subscribe">
      <input type="email" name="email" required class="form__control form__control--lg" placeholder="Введите ваш адрес электронной почты">
      <button type="submit" class="btn btn--white">Подписаться</button>
    </form>
  </div>
</section>