{% set ITEMS = common.products %}
<div class="viewed-slider slider">
  {% for item in ITEMS | loop(6) -%}
    <div class="viewed-slider__item">
      <div class="card theme-{{ item.theme }}">
        <div class="h-mb10 card__image cover" style="background-image: url({{ item.image | uploads }});">
          <div class="card__icon">
            {% include "../icons/" ~ item.theme  ~ ".svg" %}
          </div>
        </div>
        <a href="{{ item.url }}" class="card__link card__name">{{ item.group }} {{ item.model }}</a>
      </div>
    </div>
  {%- endfor %}
</div>