.icon-preview {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
	&__item{
		display: block;
		flex: 0 0 200px;
		margin-bottom: 20px;
		border:1px solid #c0c0c0;
		padding: 10px;
	}

	&__icon {
		text-align: center;
		font-size: 50px;
		height: 50px;
		margin-bottom: 20px;
	}

	&__class {
		font-weight: 500;
		text-align: center;
		font-size: 13px;
	}
}