
// ===========
//    core
// ===========

@import 'core/variables';
@import 'mixins/mixins';
@import 'core/reset';
@import 'core/defaults';
@import 'core/fonts';

@import 'layout/layout';
@import (less) '../javascripts/libs/slick.less';
@import (less) '../javascripts/libs/sumoselect.css';
@import (less) '../javascripts/libs/jquery.fancybox.css';
@import 'components/components';

// Put your code here 


@import 'helpers/helpers';
@import 'core/print.less';


.fancybox-thumbs {
  padding: 5px;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;

    li {
      float: none;
      flex: 1 1 48%;
      max-height: none;
      max-width: 48%;
      width: 48%;
      margin: 0;
      margin-bottom: 5px;
      background-color: #fff;

      &::before {
        border-color: @primary-color
      }
    }
  }
}