.accordion{
	&__title{
		.fz(16);
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #c0c0c0;
		padding-right: 30px;
		position: relative;
		letter-spacing: .1em;
		cursor: pointer;
		transition: color .3s;
		font-weight: 500;
		user-select: none;
		text-transform: uppercase;

		@media print {
			border-top: 0;
		}

		&:after,
		&:before {
			content: "";
			position: absolute;
			top:50%;
			background-color: @base-color;
		}

		&:before {
			width: 10px;
			height: 2px;
			right: 0;
			margin-top: -1px;
		}

		&:after {
			width: 2px;
			height: 10px;
			right: 0;
			margin-top: -5px;
			right: 4px;
			transition: transform .3s;
		}
	}

	&__body {
		display: none;
		padding-bottom: 14px;
	}

	&.is-active > &__body  {
		display: block;
	}

	&.is-active > &__title::after {
		transform: rotateZ(90deg);
	}

	.loop(1);

	.loop(@counter) when (@counter <= length(@themes-names)) {
		@name: extract(@themes-names, @counter);
		@color: extract(@themes-colors, @counter); ;
		.@{name} &.is-active &__title {
			color: @color;

			&::before, &::after {
				background-color: @color;
			}
		}
	  .loop((@counter + 1));
  }
  
  .theme-faq &__title {
    &::before, &::after {
      background-color: @primary-color;
    }
  }

  .theme-faq &.is-active > &__title {
    font-weight: bold;
  }
  

  &--group &__title {
    padding-left: 30px;
  }


  &--group > &__title {
    font-size: 18px;
    padding-left: 0;
  }

  &--group & &__body {
    padding-left: 30px;
  }
	@media print {
		&__body {
			display: block !important;
		}
	}
}
