.achievements{
	display: flex;
	flex-flow:row  wrap;
	align-items: flex-start;
	justify-content: center;
	margin-left: -2%;
	color: @base-color;

	&__item {
		flex: 0 0 23%;
		max-width: 23%;
		margin-left: 2%;
		text-align: center;
		margin-bottom: 30px;
	}

	&__img {
		height: 70px;
	
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__digits {
		font-weight: bold;
		font-size: 80px;
		line-height: 80px;
		margin-bottom: 10px;
	}

	&__text {
		.fz(21);
		text-transform: uppercase;
		letter-spacing: .2em;
	}

	@media screen 
		and (min-width: 781px)
		and (max-width: 1130px) {

		&__digits {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 10px;
		}

		&__text {
			.fz(18);
		}
	}

	@media screen 
		and (max-width: 780px) {
		display: block;
		margin-left: 0;

		&__digits {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 10px;
		}

		&__text {
			.fz(18);
		}

		&__item {
			margin-left: auto;
			margin-right: auto;
			border: 1px solid fade(@base-color, 10%);
			padding: 30px;
			text-align: center;
			margin-bottom: 30px;
			max-width: 300px;
		}
	}
}