.address-info{
	list-style-type: none;
	margin: 0;
	padding: 0;


	&__item {
		position: relative;
		display: block;
		margin-bottom: 30px;
		font-weight: bold;
		padding-left: 30px;

		.svg-icon{
			position: absolute;
			left: 0;
			top: 3px;
		}
		
		a {
			color: @base-color;
			text-decoration: none;
			
			&:hover{
				color: @link-color;
			}
		}
	}
}