.block-404{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 40vh;

	&__title {
		font-size: 120px;
		font-weight: bold;
		line-height: 1;
		margin-bottom: -.1em;
	}

	&__subtitle {
		font-size: 75px;
		line-height: 1;
		font-weight: bold;
		margin-bottom: .75em;
	}
}