.breadcrumbs{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
  // .VHOffset(40px);
  margin-bottom: 40px;

	&__item {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		position: relative;
		margin-right: 10px;
		letter-spacing: .1em;
		word-break: break-all;

		&::after {
			content: "";
			width: 16px;
			height: 11px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='11' fill='%23000000' viewBox='0 0 7.68 5.28'%3E%3Cpath d='M5.17 5.318l-.2-.213 2.171-2.314H.003V2.49h7.138L4.97.176l.2-.213L7.681 2.64z'/%3E%3C/svg%3E%0A");
		}

		&:last-child {margin-right: 0}

		&:last-child::after,
		&:last-child::before {
			display: none;
		}

		a {
			text-decoration: none;
			color: @base-color;
			transition: color .3s;

			&:hover {
				color: @link-color;
			}
		}
	}
}