.btn{
	cursor:pointer;
	background-color: transparent;
	border: 0;
	height: @btn-height;
	line-height: @btn-height;
	text-decoration: none;
	user-select: none;
	-webkit-tap-highlight-color: fade(#000, 0%);
	border-style: solid;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: normal;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	text-align: center;
	outline: none;
	min-width: 212px;

	&:active {
		transform: translateY(2px);
		outline: none;
	}

	&--primary {
		background-color: @primary-color;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		padding-left: 30px;
		padding-right: 30px;
		transition: 
			background .3s;

		&:hover {
			background-color: darken(@primary-color, 10%);
		}
	}

	&--primary&--bordered {
		border :1px solid #484848;
		line-height: @btn-height - 2px;
	}

	&--light {
		border: 1px solid @base-color;
		color: @base-color;
		text-transform: uppercase;
		font-weight: 500;
		line-height: @btn-height - 2px;
		transition: background-color .3s;

		&:hover {
			color: #fff;
			background-color: @base-color;
		}
	}

	&--white {
		color: #fff;
		border: 1px solid #fff;
		line-height: @btn-height - 2px;
		text-transform: uppercase;
		font-weight: 600;
		transition: 
			background .3s,
			border .3s;

		&:hover {
			background-color: @primary-color;
			border-color: @primary-color;
		}
	}

	&--secondary {
		background-color: #aeaeae;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;	
		min-width: auto;
		transition: 
			background .3s;

		&:hover {
			background-color: @base-color;
		}
	}

	&--equal-input {
		height: @input-height;
		line-height: @input-height;
	}


	&--equal-input&--bordered {
		line-height: @input-height - 2px;
	}

	&--square {
		padding-left: 5px;
		padding-right: 5px;
		width: @btn-height;
		height: @btn-height;
		line-height: @btn-height;

		.i-vekta{
			font-size: 36px;
			vertical-align: middle;
			display: inline-block;
		}

		.i-vekta--list-plus {
			margin-top: -8px;
		}
  }
  
  .svg-icon--i-filter {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    fill: #fff;
  }

}