.capcha{


	&__img {

		img {
			max-width: 100%;
			border: 1px solid @gray-darkest;
			display: block;
			
			max-height: @input-height;
		}
	}

	&__controls{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;


		&-item{
			display: block;
			width: @input-height;
			height: @input-height;
			background-color: transparent;
			border :0;
			outline: none !important;
			position: relative;
			transition: background .3s;
			cursor: pointer;

			&:active{
				outline: none;
				background-color: @gray-light;
				transform: translateY(2px)
			}

			&:hover {
				background-color: lighten(@gray-light, 10%)
			}

			.svg-icon{
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
}	