.card{
	// display: block;
	position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__label {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 12px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: @primary-color;
  }

	&__image {
		position: relative;
		background-size: cover;
		background-position: 50% 50%;	
    overflow: hidden;
    width: 100%;
    flex-grow: 0;
    margin-bottom: 15px;

		&:before {
			content :"";
			display: block;
			padding-top: 105%;
		}
  }

	&__plus {
		position: absolute;
		width: 32px;
		height: 32px;
		top: 50%;
		left: 50%;
		margin-top: -16px;
		margin-left: -16px;
		z-index: 1;

		&::before,
		&::after {
			content: "";
			background-color: @red;
			position: absolute;
			display: block;
		}

		&::before {
			width: 100%;
			height: 5px;
			top: 50%;
			margin-top: -3px;
		}

		&::after {
			width: 5px;
			height: 100%;
			left: 50%;
			margin-left: -3px;
		}
	}

	&__link {
		text-decoration: none;
    color: inherit;
    flex-grow: 1;

		&:after {
			content :"";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}

	&__name {
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .2em;
		color: @base-color;
		text-decoration: none;
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 120px;
		height: 120px;
		z-index: 1;
		opacity: 0;
		transform: translateY(-50%);
		fill: #fff;
		transition: 
			opacity .3s,
			transform .3s;

		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		svg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			fill: inherit;
			width: 100%;
			height: auto;
		}
	}

	&__category{
		display: block;
		text-transform: uppercase;
		letter-spacing: .18em;
		font-size: 20px;
		text-decoration: none;
		margin-bottom: .3em;
	}

	&__model {
		display: block;
		font-weight: bold;
		letter-spacing: .2em;
  }
  
  &__btns {
    margin-top: 20px;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    flex-grow: 0;
  }

  &__btn {
    height: 40px;
    display: block;
    background-color: #c0c0c0;
    flex-grow: 1;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;

    &.beru-btn {
      flex-shrink: 0;
    }

    img {
      max-width: 100%;
      display: block;
    }

    &-default {
      background-color: @primary-color;
      font-size: 16px;
      padding-left: 5px;
      padding-right: 5px;

      &:hover {
        background-color: darken(@primary-color, 5%)
      }

      &:active {
        transform: translateY(1px)
      }
    }

    &-compare {
      flex-grow: 0;
      flex-shrink: 0;
      background-color: #aeaeae;
      font-size: 22px;
      width: 40px;
      transition: background-color .3s;

      &.is-active {
        background-color: #484848;
      }

      &:hover {
        background-color: darken(#484848, 10%);
      }

      &:active {
        transform: translateY(1px)
      }
    }
  }

	.themeLoop(1);

	&:hover &__image::after {
		opacity: 1;
	}

	&:hover &__icon {
		opacity: 1;
		transform: translateY(0)
	}

	&:hover &__over-icons {
		transform: translateY(0);
		opacity: 1;
	}

	&.hover-lock:hover &__over-icons { display: none }

	&.hover-lock:hover &__image::after,
	&.hover-lock:hover &__icon{
		opacity: 0 !important;
  }
  

	.themeLoop(@counter) when (@counter <= length(@themes-names)) {
		@name: extract(@themes-names, @counter);
		@color: extract(@themes-colors, @counter);

		&.@{name} &__model {
			color: @color
		}

		&:not(.hover-lock).@{name}:hover &__category {
			color: @color
		}

		&.@{name}:hover &__name {
			color: @color
		}
	  .themeLoop((@counter + 1));   
	}
}