.catalog{
	&-layout {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&-layout--stretch {
		align-items: stretch;
	}

	&-aside{
		flex: 0 0 273px;
		max-width: 273px;
    margin-right: @grid-gutter-width;
    position: relative;

    > .btn.js-toggle-filters {
      display: none;
    }
	}

	&-content {
		flex: 1 1 auto;
		max-width: 100%;
	}


	&-remove {
		position: absolute;
		top: -20px;
		left: -20px;
		font-size: 36px;
		z-index: 3;
		text-decoration: none;
		padding: 5px;
		display: block;

		&:hover {
			background-color: #fff;
		}

		.noprint();
	}


	&-list {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: flex-start;
		margin-left: -3.333%;
		flex-wrap: wrap;
		margin-bottom: -40px;
	
		&__item {
			flex: 0 0 30%;
			max-width: 30%;
			margin-left: 3.333%;
			margin-bottom: 40px;
			position: relative;
		}

		&--4-in-row  {
			margin-left: -2%;
		}

		&--4-in-row &__item{
			flex: 0 0 23%;
			max-width: 23%;
			margin-left: 2%;
		}
		&--fixed-size {
			flex-wrap: nowrap;
		}
		&--fixed-size &__item {
			flex: 0 0 268px;
			max-width: 268px;
		}
	}

	&-section {
		.VHO(margin-bottom, 60px);

		&:last-child {
			margin-bottom: 0;
		}
		&__title {
			border-bottom: 1px solid #666666;
			padding-bottom: 20px;
			margin-bottom: 20px;
			margin-bottom: 40px;
			.fz(20);
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing: .2em;
		}
	}

	@media screen
		and (max-width: 1210px) 
		and (min-width: 961px) {
		&-list {
			margin-left: -3%;
			&__item {
				flex: 0 0 47%;
				max-width: 47%;
				margin-left: 3%;
			}
		}
	}

	@media screen
		and (max-width: 960px) {
		&-list {
			margin-left: 0%;
			&__item,
			&--4-in-row &__item {
				flex: 0 0 100%;
				max-width: 100%;
				margin-left: 0%;
			}
		}
	}

	@media screen
		and (max-width: 760px) {
		
		&-layout {
			display: block;
		}

		&-aside {
			display: block;
			max-width: none;
			margin-right: 0;
		}
  }

  @media screen and (max-width: @screen-xs) {
    &-aside{
      > .btn.js-toggle-filters {
        display: inline-block;
      }
    }
  }
}