.checkbox{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-left: 32px;
	cursor: pointer;
	user-select: none;

	&--large-label &__text {
		text-transform: uppercase;
		.fz(20);
		font-weight: 500;
	}

	&--large-label &__box {
		top:5px;
	}

	&__box{
		width: 16px;
		height: 16px;
		display: block;
		border: 1px solid #000;
		background-color: #fff;
		position: absolute;
		top: 2px;
		left: 0;
		z-index: 1;


		&::before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' fill='@{red}' viewBox='0 0 24 24'%3E%3Cpath d='M20.7 5.3c-0.4-0.4-1-0.4-1.4 0l-10.3 10.3-4.3-4.3c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5 5c0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l11-11c0.4-0.4 0.4-1 0-1.4z'%3E%3C/path%3E%3C/svg%3E%0A");
			background-position: center center;
			background-repeat: no-repeat;
			margin-top: -5px;
			border-radius: 50%;
			opacity: 0;
			transform: scale(.3);
			transition: 
			  opacity .3s,
			  transform .3s;
		}
	}

	input {
		visibility: hidden;
		opacity: 0;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 0;
		left: 0;
	}

	input:checked + &__box::before {
		opacity: 1;
		transform: scale(1);
	}
}