.color{
	&-list {
		margin-left: -4px;
		margin-right: -4px;
		max-width: 210px;
	}
	&-check {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 21px;
		height: 21px;
		overflow: hidden;
		padding: 4px;
		margin-bottom: 4px;
		cursor:pointer;
		overflow: hidden;

		&:active {
			transform: translateY(2px);
		}
		
		&__label {
			width: 100%;
			height: 100%;
			display: block;

			&::before {
				content: "";
				opacity: 0;
			}

			&::after {
				content:"";
				position: absolute;
				background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='#000000' viewBox='0 0 32 32'%3E%3Ctitle%3Echeckmark%3C/title%3E%3Cpath d='M27 4l-15 15-7-7-5 5 12 12 20-20z'%3E%3C/path%3E%3C/svg%3E%0A");
				width: 8px;
				height: 8px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin:auto;
				transform: translateY(-40px);
				transition: 
					transform .3s,
					opacity .3s;
			}
		}
		
		input {
			position: absolute;
			left: -99px;
		}

		input:checked + &__label::after {
			transform: translateY(0);
			opacity: 1;
		}

		input:checked + &__label::before {
			
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: fade(#fff, 45%);
			opacity: 1;
			transition: opacity .3s;
		}
	}
}