.compare {
	overflow-y: auto;
	overflow-x: auto;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;

	&-controls{
		height: 100%;
		width: 250px;
		display: flex;
		justify-content: flex-end;
		align-items: start;
		flex-direction: column;

		&__icon {
			color: @red;
			font-size: 43px;
			cursor: pointer;
			margin-bottom: 20px;
		}
		&__label {
			.fz(20, 24);
			letter-spacing: .1em;
			text-transform: uppercase;
		}
	}

	.opt-table td:first-child {
		width: 250px;
	}
	&__inner{
		display: inline-block;
		vertical-align: top;
		min-width: 100%;
	}
	
	&__layout {
		display: table;
		table-layout: fixed;
	}

	&__aside {
		display: table-cell;
		vertical-align: bottom;
		width: 250px;
	}

	&__content {
		display: table-cell;
		vertical-align: top;
	}
	&__list {
		white-space: nowrap;
		margin-left: -30px;

		&-item {
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 270px;
			margin-left: 30px;
			white-space: normal;
		}
	}
}

