.connect-with-us{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	.title {
		margin-bottom: 0;
		margin-right: 6%;
		flex: 0 1 auto;
	}
	
	.btn {
		flex: 0 0 auto;
	}

	@media screen 
		and (max-width: 780px) {
		display: block;

		.title {
			margin-bottom: 30px;
		}
	}
}