.cooking {
  padding-left: 1.45em;
  position: relative;

  &-list__item &:before {
    counter-increment: list;
    content: counter(list) ". ";
    display: inline-block;
    margin-right: .25em;
    flex-grow: 0;
    position: absolute;
    top: 0;
    vertical-align: baseline;
    left: 0;
  }

  &-list {
    margin: 0 -15px;
    counter-reset: list;
    font-size: 0;
    column-gap: 0;
    columns: 3;

    @media screen and (max-width: 1000px) {
      columns: 2;
    }

    @media screen and (max-width: @screen-sm) {
      columns: unset;
      margin: 0 auto;
    }

    &__item {
      padding: 15px;
      break-inside: avoid;
      font-size: @base-font-size;
      vertical-align: top;
      display: inline-block;
      width: 33.333%;

      @supports (column-gap: 0) {
        display: block;
        width: auto;
      }
    }
  }
  img { max-width: 100% }
  @media screen and (max-width: @screen-sm) {
    
    &-list__item {
      background-color: #f7f7f7;
      margin-bottom: 30px;
      width: 100%;
      display: block;
      position: relative;
      overflow: hidden;

      & {
        padding: 0;
        position: static;
        min-height: 80px;
      }
    }

    &-list__item &::before {
      position: absolute;
      display: block;
      font-size: 100px;
      line-height: .8;
      font-weight: bold;
      content: counter(list);
      opacity: .1;
      top: auto;
      bottom: -.05em;
      right: -.05em;
      left: auto;
      letter-spacing: -.15em;
    }

    &-list__item & {
      padding: 30px 50px 30px 25px;
    }
  }
}