.cover{
	background-color: @red;
	&:after {
		content: "";
		display: block;
		position: absolute;
		background-color: inherit;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		mix-blend-mode: multiply;
		transition: opacity .3s, background .3s;
	}

	.only-print {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin:auto;
		max-width: 100%;
		filter: grayscale(100%)
	}

	&.no-image::after {
		//display: none;
		background-color:transparent;
	}
	.coverThemeLoop(1);

	&.is-disabled {
		background-color: #c9c9c9 !important;
		transition: background-color .3s;
	}

	&.theme-graylight {
		background-color: #f8f8f8 !important;
		transition: background-color .3s;

		&:hover {
			background-color: darken(#f8f8f8, 10%) !important;
		}
	}

	
}

.coverThemeLoop(@counter) when (@counter <= length(@themes-names)) {
	.coverTheme(extract(@themes-colors, @counter), extract(@themes-names, @counter));
  .coverThemeLoop((@counter + 1));   
}
.coverTheme(@color, @name) {
	&.@{name},
	.@{name} & {
		background-color: @color;
	}
	&.@{name}::after,
	.@{name} &::after {
		background-color: @color;
	}

	&.@{name}:hover::after,
	&.@{name}:hover &::after {
		background-color: darken(@color, 15%);
	}

}
