.date-block{
	transition: color .3s;
	user-select: none;

	&__month{
		font-size: 14px;
		font-weight: bold;
		display: block;
		text-transform: capitalize;
	}

	&__day {
		display: block;
		.fz(70);
		font-weight: bold;
		line-height: .8;
		white-space: nowrap;
		margin-left: -.025em; // normalize left offset
	}
}