.dropmenu {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #898989;
  color: #fff;
  padding: 44px 0;
  display: none;
  transition: background-color .3s;

  &__close {
    position: absolute;
  }

  &__inner {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    columns: 3;
    column-gap: 35px;
  }

  &__unit {
    break-inside: avoid !important;
    margin-bottom: 27px;

    &.is-disabled {
      opacity: .75
    }
  }

  &__title {
    display: inline-block;
    .fz(20);
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: color .3s;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff;
    margin-right: 10px;
    width: 1.7em;

    svg {
      flex: 0 0 100%;
      width: 100%;
      fill: inherit;
    }
  }

  &__sublist {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;

    &-item {
      margin-top: 5px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
    display: inline-block;
    transition: transform .3s;
    
    &::before {
      content: "⟶";
      display: inline-block;
      vertical-align: top;
      width: 1.5em;
      margin-left: -1.5em;
      text-align: left;
      opacity: 0;
      transition: opacity .3s;
    }
    
    &:hover {
      transform: translateX(1.5em);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  a&__title:hover {
    color: fade(#fff, 40%);
  }

  .themeLoop(1);

  .themeLoop(@counter) when (@counter <= length(@themes-names)) {
		@name: extract(@themes-names, @counter);
		@color: extract(@themes-colors, @counter);

		&.@{name} {
			background-color: @color
		}
	  .themeLoop((@counter + 1));   
	}
}