.filter{
	&__section {
		.VHO(margin-bottom, 55px);
	}

	&__title {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: .25em;
		position: relative;
		.fz(20);

		span{
			position: relative;
		}
	}

	&-checks {
		margin-bottom: -8%;
	}

	&-select {
		height: @filter-control-height;
		line-height: @filter-control-height - 2px;
		border:1px solid #2d3a4b;
		width: 100%;
		font-family: inherit;
		font-size: inherit;
		outline: none;
		padding-left: 10px;
		padding-right: 10px;
		font-weight: 500;
		letter-spacing: 0.05em;
		color: @base-color;
	}

	&-check {
		display: inline-block;
		vertical-align: top;
		position: relative;
		max-width: 100%;
		font-family: inherit;
		font-size: inherit;
		font-weight: normal;
		cursor: pointer;
		user-select: none;
		margin-bottom: 8%;
		margin-right: 7%;
		min-width: 69px;
		text-align: center;
	
		&:hover {
			outline: none !important;
		}

		input {
			&:extend(.h-sronly);
		}

		&__label{
			display: block;
			padding: 0 10px;
			border: 1px solid #2d3a4b;
			height: @filter-control-height;
			line-height: @filter-control-height - 2px;
			white-space: nowrap;
			max-width: 100%;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			background-color: #fff;
			font-weight: 500;
			transition: 
				border .3s,
				color .3s,
				background .3s;

			&:hover {
				outline: none !important
			}
		}

		&:active {
			transform: translateY(2px);
		}

		&:active &__label {
			background-color: darken(#eee, 20%);
		}

		input:checked + &__label {
			background-color: #eeeeee;
			color: @base-color;
			border-color: #eeeeee;
		}
	}

	&-tag {
		display: inline-block;
		vertical-align: top;
		position: relative;
		overflow: hidden;
		font-weight: normal;
		margin-right: .75em;
		margin-bottom: 10px;
		font-family: inherit;
		font-size: @base-font-size;
		cursor: pointer;

		&__label {
			transition: color .3s;
			letter-spacing: 0.1em;
		}

		input {
			.h-sronly();
		}
	}

	&__section.has-accordion &__title {
		position: relative;
		padding-right: 30px;
		transition: color .3s;
		cursor: pointer;
		span {
			&::before {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				border: 2px solid #000;
				transform: rotateZ(-135deg);
				position: absolute;
				left: 100%;
				top: 50%;
				margin-top: -8px;
				border-left: 0;
				border-top: 0;
				transition: transform .3s;
				margin-left: 10px;
				transform: rotateZ(45deg);
				margin-top: -5px;
			}
		}

		&:hover {
			color: @red;
		}
	}

	&__section.has-accordion &__body {
		display: none;
	}

	&__section.has-accordion.is-active &__body {
		display: block;
	}


	&__section.has-accordion.is-active &__title span::before {
		transform: rotateZ(-135deg);
		margin-top: -1px;
	}
	
	// theming
	.themeLoop2(1);

	&.theme-drinks input:checked + &-check__label {
		color: darken(@theme-drinks, 10%)
	}
	&.theme-products input:checked + &-check__label {
		color: darken(@theme-products, 10%)
	}

	.themeLoop2(@counter) when (@counter <= length(@themes-names)) {
		@name: extract(@themes-names, @counter);
		
		&.@{name} input:checked + &-check__label,
		&.@{name} input:checked + &-tag__label {
			color: extract(@themes-colors, @counter)
		}
	  .themeLoop2((@counter + 1));   
  }
  
  @media screen and (max-width: @screen-xs) {
    transform: translateX(-@screen-xs);
    opacity: 0;
    position: absolute;
    background-color: #fff;
    border: 5px solid @primary-color;
    z-index: 100;
    padding: 20px;
    transition: transform .45s ease-out, opacity .3s;

    &.is-active {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
