.footer{
	background-color: #898c8d;
	color: #000;

	&__row {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	&__col {
		max-width: 320px;
		padding-right: 5%;
		flex: 1 0 auto;
		&:last-child {
			padding-right: 0;
		}
	}

	&__title {
		.fz(16);
    // .VHOffset(40px);
    margin-bottom: 40px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
	}

	&__tel {
		white-space: nowrap;
		text-decoration: none;
		transition: color .3s;
		display: inline-block;
		vertical-align: top;
		
		

		&:hover {
			color: @primary-color;
		}
	}

	&__links {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {
			margin-bottom: .45em;
		}
	}

	&__text {
		line-height: 1.3
	}

	&__link {
		text-decoration: none;
		color: #000000;
		transition: color .3s;

		&:hover {
			color: @primary-color;
		}
	}

	&__social {
		.svg-icon {
			fill: #fff;
		}
	}

	@media screen
		and (min-width: 761px) 
		and (max-width: 1260px) {

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			flex-basis: 50%;
			max-width: 50%;
			margin-bottom: 30px;
		}
	}

	@media screen
		and (max-width: 760px) {

		&__row {
      //display: block;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
		}

		&__col {
			display: block;
			margin-bottom: 30px;
			padding-right: 0;
      max-width: none;
      
      &:nth-child(2) {
        order: 2;
      }

      &:last-child {
        order :3;
        .footer__title {
          display: none;
        }
      }
		}

		&__links {

			&-item {
			}
		}
	}
}