.form{
	&__group{
		.VHOffset(40px)
	}

	&-feedback-shift {
		padding-right: @grid-gutter-width;
	}

	&__label {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		margin-bottom: 8px;
	}

	&__control{
		width: 100%;
		height: @input-height;
		border: 1px solid @gray-darkest;
		padding: 0 15px;
		outline: none;
		font-family: inherit;
		font-weight: 400;
		font-style: normal;
		transition: border-color .3s;
		color: @base-color;
		background-color: @base-bg-color;

		&:focus {
		}

		&--lg {
			height: @btn-height;
		}
	}

	textarea&__control {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 1.3em;
		resize: vertical;
	}

	option {
		text-transform: none;
	}

	select {
		text-transform: uppercase;
		text-transform: uppercase;
		letter-spacing: .20em;
		color:@base-color;
		font-family: inherit;
	}

	::-webkit-input-placeholder {
	  text-transform: uppercase;
	  letter-spacing: .20em;
	  color:@base-color;
	  
	}
	::-moz-placeholder {
	  text-transform: uppercase;
	  letter-spacing: .20em;
	  color:@base-color;

	}
	:-ms-input-placeholder {
	  text-transform: uppercase;
	  letter-spacing: .20em;
	  color:@base-color;

	}
	:-moz-placeholder { 
	  text-transform: uppercase;
	  letter-spacing: .20em;
	  color:@base-color;
	}

	@media screen 
		and (max-width: 992px) {
		&-feedback-shift {
			padding-right: 0;
			margin-bottom: 30px;
		}
	}
}