.glossary {
  position: relative;
  padding: 15px;

  &-anchor {
    display: inline-block;
    width: 1px;
    height: 1px;
    left: 0;
    top: -100px; /* scroll point */
    position: absolute;
  }

  &-anchor:target + & {
    background-color: #f7f7f7;
  }

  &-anchor:target + & &__title {
    color: @red;
  }

  &-aside {
    display: block;

    @media screen and (max-width: @screen-md) {
      display: none;
    }
  }

  &-select {
    max-width: 320px;
    margin-bottom: 40px;
    display: none;

    &__label {
      margin-bottom: 10px;
      letter-spacing: .065em;
      font-weight: bold;
    }

    @media screen and (max-width: @screen-md) {
      display: block;
    }
  }

  &-list {
    margin: 0 -15px;
    counter-reset: list;
    font-size: 0;
    column-gap: 0;
    columns: 2;

    @media screen and (max-width: @screen-sm) {
      columns: unset;
      margin: 0 auto;
    }

    &__item {
      break-inside: avoid;
      font-size: @base-font-size;
      vertical-align: top;
      display: inline-block;
      width: 33.333%;
      position: relative;

      @supports (column-gap: 0) {
        display: block;
        width: auto;
      }
    }
  }
  &__title {
    margin-bottom: .5em;
    display: block;
  }

  &-term-title {
    margin-bottom: 80px;
  }

  &-nav {
    &__item {
      display: block;
      margin-bottom: 15px;
    }

    &__link {
      color: #484848;
      letter-spacing: .065em;
      text-decoration: none;
      transition: color .3s;

      &:active,
      &:focus,
      &:hover {
        color: @red;
      }
    }
  }
  img { max-width: 100% }
  @media screen and (max-width: @screen-sm) {
    padding: 30px;
    &-list__item {
      background-color: #f7f7f7;
      margin-bottom: 30px;
      width: 100%;
      display: block;
      position: relative;
      overflow: hidden;
    }
  }
}