.hamburger{
	position: relative;
	background-color: transparent;
	border: 0;
	padding: 0;
	transform: translateZ(0);
	cursor: pointer;
	background-color: @primary-color;
	display: none;
	overflow: hidden;
	
	&__line {
		display: block;
		position: absolute;
		width: 22px;
		left: 5px;
		height: 2px;
		background-color: #fff;
		margin-left: auto;
		margin-right: auto;
		top: 50%;
		margin-top: -1px;
		transition: 
			transform .5s cubic-bezier(0.42, 0, 0, 1.61),
			opacity .2s;

	}

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 22px;
		left: 5px;
		height: 2px;
		background-color: #fff;
		transition:
			transform .4s cubic-bezier(0.42, 0, 0, 1.61),
			opacity .3s;
	}

	&::before {
		top: 50%;
		margin-top: -8px;
	}

	&::after {
		top: 50%;
		margin-top: 6px;
	}

	&.is-active &__line {
		transform: translateX(100px);
		opacity: 0;
	}

	&.is-active::before {
		transform: rotateZ(45deg) translate(5px, 5px);
	}

	&.is-active::after {
		transform: rotateZ(-45deg) translate(5px, -5px);
	}

}