.header{
	position: relative;
	z-index: 31;
	background: #fff;

	&__row{
		height: 140px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	&__col {
		&--slot-logo {
			margin-right: 100px;
			flex: 0 0 213px;
			max-width: 213px;
		}
		&--slot-nav{
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__nav {
		display: inline-flex;
		flex-direction: row;
		flex-grow: 1;
		justify-content: space-between;

		&-item {
			.fz(16);
			font-weight: 300;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: .25em;
			color: @base-color;
			transition: color .3s;
      margin-right: 20px;
      &--visible-mobile {
        display: none !important;
      }

			&:hover {
				color: @primary-color;
			}

			&.is-active {
				color: @primary-color;
			}
		}
  }

	&__bar {
		flex-direction: row;
		margin-left: 24px;
    flex: 0 0 auto;
    position: relative;

		&-item {
			display: inline-block;
			vertical-align: top;
			width: 32px;
			height: 32px;
			position: relative;

			.notice {
				top: 0;
				right: 0;
			}


			.svg-icon{
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				right: 0;
				bottom: 0;
				margin: auto;
				fill: @base-color;
			}

			&.is-active .svg-icon {
				fill: @red;
			}
    }
  }

  
  &__geo {
    // 20 + 32 + 180 = 200px;
    position: relative;
    margin-left: 0px;
    left: 0;
    transition: left .3s;
    .svg-icon {
      fill: @primary-color;
    }
    &-text {
      white-space: nowrap;
      margin-left: 32px;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: none;
      line-height: 32px;
    }
  }

  @media screen and (min-width: 1660px) {
    &__geo {
      position: absolute;
      margin-left: 20px;
      left: 100%;
    }
    &__geo-text {
      display: inline-block;
    }
  }

  @media screen and (max-width: 1210px) and (min-width: 640px) {
    &__geo-text {
      // display: inline-block;
      // position: absolute;
      // right: 100%;
      // margin-left: 0;
      // margin-right: 10px;
      display: none;
    }
  }
 

	@media screen 
		and (max-width: 1240px) {
		&__col {
			&--slot-logo {
				margin-right: 60px;
				flex: 0 0 150px;
				max-width: 150px;
			}
			&--slot-nav{
				flex-grow: 1;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	@media screen
			and (max-width: 1210px)  {

		position: sticky;
		top: 0;

		&__row{
			height: 60px;
		}

		&__nav {
			display: none;
		}

		.hamburger {
			display: inline-block;
		}

		&__col--slot-nav {
			justify-content: flex-end;
    }
    
    &__nav-item--visible-mobile {
      display: block !important;
    }

	}

	@media screen 
		and (max-width: 481px) {
		&__col {
			&--slot-logo {
				margin-right: 20px;
				flex: 0 0 95px;
				max-width: 95px;
			}
		}
	}


}

