.hero {
  overflow: hidden;

  &__slider {
    &-item {
      background-position: center center;
      background-image: linear-gradient(45deg, #434344, lighten(#434344, 23%));
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #434344;
      color: #fff;
      height: 100%;
      min-height: 800px;
      position: relative;
    }

    .slick-slide > div {
      height: 100%;
    }

    &-mobile-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: none;

      @media screen and (max-width: 600px) {
        display: block;
      }
    }
  }

  &__inner {
    background-position: center center;
    background-image: linear-gradient(45deg, #434344, lighten(#434344, 23%));
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #434344;
    color: #fff;
    min-height: 800px;
  }

  &__title {
    font-size: 12vh;
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: -0.065em;
  }

  &__sub-title {
    font-size: 8vh;
    text-transform: uppercase;
    margin-left: -0.065em;
    font-weight: 800;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;

    min-height: 800px;
    justify-content: center;
  }

  &__btn {
    min-width: 210px;
  }

  &__controls {
    margin-top: 50px;
  }

  &__label {
    .fz(20);
    margin-bottom: 1em;
  }

  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      vertical-align: top;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      margin-right: 5px;
      background-color: @gray-darkest;
      border: 3px solid @gray-darkest;
      cursor: pointer;

      &.slick-active {
        border-color: #fff;
        background-color: #fff;
      }

      button {
        display: none;
      }
    }
  }

  @media screen and (max-width: 960px) {
    &__slider {
      &-item {
        min-height: 400px;
      }
    }

    &__content {
      min-height: 400px;
    }

    &__inner {
      min-height: 400px;
    }

    &__title {
      font-size: 32px;
      margin-bottom: 0.5em;
    }

    &__label {
      font-size: 18px;
    }

    &__sub-title {
      font-size: 21px;
    }
  }
}
