.icon-bar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	pointer-events: relative;

	&__item {
		/* position always must be static */
		position: static; 
		flex: 0 0 20%;
		max-width: 20%;
		transition: background .3s;
	}

	&__icon {
		position: relative;
		width: 100%;
		fill:#5a5959;

		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}
		svg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 40px;
			max-width: 74%;
			height: auto;
			margin: auto;
			fill: inherit;
			transition: fill .3s;
		}
	}

	&__item:hover &__icon {
		color: #fff;
	}

	&__content {
		display: none;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		.fz(16, 21);
		color: #fff;
		padding: 10px;
		animation-duration: .4s;
		animation-fill-mode: both;
		animation-iteration-count: 1;

		p {
			margin-bottom: 0;
		}
	}

	&__item:hover &__content {
		display: block;
	}

	&__item:hover &__icon {
		fill: #fff;
	}
	// theming
	.iconBarThemeLoop(1);

	@media print {
		.i-vekta{
			font-size: 34px;
			line-height: 34px;
		}
	}
}


.iconBarThemeLoop(@counter) when (@counter <= length(@themes-names)) {
	.iconBarTheme(extract(@themes-colors, @counter), extract(@themes-names, @counter));
  .iconBarThemeLoop((@counter + 1));   
}
.iconBarTheme(@color, @name) {
	&.@{name} &__item:hover {
		background-color: @color;
		z-index: @name
	}
	&.@{name} &__content {
		background-color: @color;
	}
}

@keyframes iconContentAnimateion {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}