.metabar{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	color: #666666;


	&__item {
		flex: 0 0 auto;

		&:only-child{
			margin-left: auto;
		}
		
		&--slot-sort {
			max-width: 400px;
		}
  }
  
  @media screen and (max-width: @screen-xs) {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    &__item {
      display: block;
      margin: 5px 0;
    }
  }
}