.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 60px 0 20px 0;
  z-index: 30;
  transform: translateX(-100%);
  transition: transform 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.09em;
  overflow-y: auto;

  &__toggle {
    position: absolute;
    top: 10px;
    left: -4px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0;
    outline: none !important;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: lighten(@base-color, 20%);
    }
    &::before {
      width: 14px;
      height: 2px;
      left: 50%;
      top: 50%;
      margin-top: -1px;
      margin-left: -7px;
    }

    &::after {
      width: 2px;
      height: 14px;
      left: 50%;
      top: 50%;
      margin-top: -7px;
      margin-left: -1px;
      transition: opacity 0.3s, transform 0.3s;
    }
  }

  a:hover {
    color: @primary-color;
  }

  .is-open > &__toggle {
    &::after {
      transform: rotateZ(90deg);
      opacity: 0;
    }
  }

  &__opener {
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #000;
  }

  &__item {
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    color: @base-color;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
    position: relative;

    .header__nav-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 10px;
      margin-left: -30px;
    }

    &-link {
      padding: 15px 20px 15px 30px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 18px;
      color: @base-color;
      position: relative;
      border-bottom: 1px solid fade(#000, 10%);

      &.has-list {
        &::before {
          left: 5px;
          top: 24px;
        }
        &::after {
          left: 11px;
          top: 18px;
        }
      }
    }

    .mobile-nav__opener {
      top: 23px;
      left: 10px;
      outline: none;
    }
  }

  &__group {
    padding: 8px 10px 8px 40px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: @base-color;
    position: relative;
    border-bottom: 1px solid fade(#000, 10%);

    &.has-list {
      &::before {
        left: 14px;
        top: 16px;
      }
      &::after {
        left: 20px;
        top: 10px;
      }
    }
  }

  &__groups {
    margin-left: 20px;

    &-item {
      font-size: 14px;
      padding: 8px 10px 8px 20px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: @base-color;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__subitem {
    position: relative;
  }

  &__subitem &__toggle {
    top: 2px;
    left: 5px;
  }

  .header__nav-item {
    display: block;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid fade(#000, 10%);
    background-color: #fff;
    color: @base-color;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;

    &:hover {
      color: @red;
    }
  }

  @media screen and (min-width: 1210px) {
    display: none !important;
  }

  .hidden-list {
    display: none;
  }

  &__list {
    //padding-left: 20px;
  }
}

.is-mobile-open .mobile-nav {
  transform: translateX(0%);
}
