.modal{
	max-width: 960px;
	padding: 50px 50px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #fff;
	display: none;
	font-family: @base-font;

	&--size-sm {
		width: 570px
	}

	&__title {
		word-break: break-all;
		font-weight: 900;
	}

	.fancybox-close-small {
		width: 70px;
	}

	@media screen
		and (max-width: 760px) {
		width: 100%;
	}


	@media screen
		and (max-width: 640px) {
		padding: 25px;
	}
}