.myproducts{
	&__table {
		width: 100%;
		border-collapse: collapse;
		border: 0;

		td {
			text-transform: uppercase;
			letter-spacing: .1em;
			padding: 0 10px;
			
			&:first-child {
				padding-left: 0;
			}
		}

		thead td,
		thead th {
			padding-bottom: 20px;
		}

		tbody td {
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px solid #c0c0c0;
		}
	}

	&__remove {
		display: inline-block;
		vertical-align: middle;
		width: 44px;
		height: 44px;
		font-size: 28px;
		border: 0;
		background-color: transparent;
		color: @red;
		cursor: pointer;
		text-align: center;
		transition: color .3s, background .3s;

		&:hover {
			color: #fff;
			background-color: @red;
		}
	}

	&__mobile-label {
		font-size: 12px;
		display: block;
		margin-bottom: 5px;
		display: none;
	}

	@media screen
		and (max-width: 790px) {
		
		&__table {
			display: block;
			
			thead {
				display: none;
			}
			tbody {
				display: block;
			}

			tr{
				display: block;
				position: relative;
				padding:20px;
				border: 1px solid #c0c0c0;
				margin-bottom: 20px;

				td {
					display: block;
					border: 0;
					padding: 10px 0;
				}
			}
		}

		&__remove {
			position: absolute;
			top: 0;
			right: 0;
		}

		&__mobile-label {
			display: block;
		}
	}
}