.news{
	position: relative;

	&-slider {
		margin-left: @grid-gutter-width/-2;
		margin-right: @grid-gutter-width/-2;

		.slick-slide > div {
			height: 100%;
		}

		&__item {
			height: 100%;
		}
	}

	&-slider__item & {
		padding-left: @grid-gutter-width/2;
		padding-right: @grid-gutter-width/2;
		height: 100%;
	} 

	&-slider & {
		padding-bottom: 40px;
		height: 100%;
	}

	&__image {
		display: block;
		position: relative;
		background-color: #c0c0c0;
		background-image: linear-gradient(135deg, lighten(@green, 20%), darken(@green, 10%));
		margin-bottom: 20px;
		background-size: cover;
		background-repeat: no-repeat;

		&:before{
			content: "";
			display: block;
			padding-top: 95%;
		}
	}

	&__short {
		font-weight: 300;
		.fz(16, 25);
		color: @gray;
    max-height: 1.563*5em;
		overflow: hidden;
		margin-bottom: 20px;
	}

	&__title {
		display: block;
		.fz(20);
		letter-spacing: 0.12em;
		text-transform: uppercase;
		font-weight:600;
		text-decoration: none;
		margin-bottom: 20px;
		min-height: 2.4em;
		color: @base-color;
		transition: color .3s;
		outline:none;

		&::after {
			content :"";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			z-index: 1;
		}
	}

	&__read {
		display: block;
		// position: absolute;
		// bottom: 0;
		// left: 15px;
		font-weight: 800;
		transition: color .3s;
		white-space: nowrap;
		
		&:after {
			content :"";
			display: inline-block;
			vertical-align: middle;
			transform: rotateZ(45deg);
			width: .75em;
			height: .75em;
			border: 1px solid;
			border-left: 0;
			border-bottom: 0;
			margin-left: 4px;
		}
	}

	&__date {
		margin-bottom: 20px;
		transition: color .3s;
		user-select: none;

		&-month{
			font-size: 14px;
			font-weight: bold;
			display: block;
		}

		&-day {
			display: block;
			.fz(70);
			font-weight: bold;
			line-height: .8;
			white-space: nowrap;
			margin-left: -.03em; // normalize left offset
		}
	}

	&__tag {
		.fz(12, 12);
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 14px;
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: stretch;
		justify-content: flex-start;
		margin-left: -.5*@grid-gutter-width;
		margin-right: -.5*@grid-gutter-width;

		&__item {
			flex: 0 0 25%;
			max-width: 25%;
			padding-left: .5*@grid-gutter-width;
			padding-right: .5*@grid-gutter-width;
			margin-bottom:50px;

			.news__read {
				left: 0;
			}

			.news {
				padding-bottom: 30px;
				height: 100%;
			}
		}
	}

	&-topline{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;

		.breadcrumbs{
			flex: 0 0 auto;
		}


		&__tag {
			display: inline-block;
			vertical-align: top;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			position: relative;
			margin-right: 10px;
			letter-spacing: 0.1em;
			text-decoration: none;
			color: @base-color;
			transition:color .3s;
			margin-left: 30px;
			flex: 0 0 auto;
			margin-bottom: 30px;

			&:hover {
				color: @link-color;
			}
		}
	}

	&-inner-date {

		float: left;
		margin-right: 30px;
		margin-bottom: 30px;
		color: @base-color;
		display: block;
	}

	&:hover &__date, 
	&:hover &__title, 
	&:hover &__read {
		color: @red;
	}

	&:hover &__image:after {
		opacity :.8;

		@supports (mix-blend-mode: multiply) {
			opacity :1;
		}
	}

	@media screen 
		and (min-width: 781px)
		and (max-width: 1130px) {

		&-list {
			&__item {
				flex: 0 0 33.333%;
				max-width: 33.333%;
			}
		}
	}

	@media screen 
		and (min-width: 580px)
		and (max-width: 780px) {

		&-list {
			&__item {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}

	@media screen 
		and (max-width: 580px) {
		&-topline{
			display: block;
		}
		&-list {
			&__item {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}