.notice{
	position: absolute;
	background-color: @primary-color;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	width: 12px;
	height:12px;
	text-align: center;
	line-height: 12px;
	font-weight: bold;
	border-radius: 50%; 
	font-weight: normal;
	text-align: center;
	letter-spacing: normal;
}