.offset{
	&-lg {
		.VHO(margin-bottom, 126px);
	}

	&-lg + .title{
		margin-top: -.1em;
	}

	&-sm {
		.VHO(margin-bottom, 63px);
	}

	&-xs {
		.VHO(margin-bottom, 30px);
	}

	&-top-sm {
		.VHO(margin-top, 63px);
	}

	&-y-sm{
		.VHO(margin-top, 63px);
		.VHO(margin-bottom, 63px);
	}

	&-y-xs{
		.VHO(margin-top, 30px);
		.VHO(margin-bottom, 30px);
	}

	&-y-lg{
		.VHO(margin-top, 126px);
		.VHO(margin-bottom, 126px);
	}
}