.opt-table{
	max-width: 100%;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	letter-spacing: .1em;

	td {
		padding: 8px 5px;
		transition: background .3s;

		&:first-child{
			padding-right: 20px;
			width: 35%;
		}
	}

	&-wrapper {
		margin-left: -5px;
		margin-right: -5px;
	}

	tr:hover td {
		background-color: lighten(@gray-light, 10%);
  }
  
  @media screen and (max-width: @screen-xs) {
    td {
      &:first-child{
        padding-right: 20px;
        width: auto
      }
    }
  }

	@media print {
		td {
			border: 1px solid lighten(#000, 50%);
			padding: 5px 10px;


			&:empty {
				border: 0;
			}
		}
	}
}