.opts{
	margin-bottom: 40px;
	&__item {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		.fz(16);
		letter-spacing: .1em;
	}

	&__icon {
		flex: 0 0 60px;
		font-size: 50px;
		max-width: 60px;
		margin-right: 20px;
		text-align: center;

		svg {
			fill: inherit;
			width: 80%;
			height: auto;
		}
  }

  .themeLoop(1);
  
  @media screen and (max-width: @screen-xs) {
    display: flex;
    flex-flow: row wrap;
    &__title {
      display: none;
    }

    &__item {
      display: inline-block;
      width: 20%;
      flex-basis: 20%;
    }

    &__icon {
      display: block;
      width: 100%;
    }
    
  }
}
.themeLoop(@counter) when (@counter <= length(@themes-names)) {
	@name: extract(@themes-names, @counter);
	@color: extract(@themes-colors, @counter);
	
	&.@{name} &__icon {
		fill: @color;
	}
	.themeLoop((@counter + 1));
}



