.partners{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	&__item {
		flex: 0 0 30%;
		max-width: 30%;

		img {
			max-width: 100%;
		}
	}

	@media screen 
		and (max-width: 780px) {
		display: block;

		&__item {
			max-width: 300px;
			margin-bottom: 20px;
			border: 1px solid fade(@base-color, 10%);

			text-align: center;
			padding: 20px;
		}
	}
}