.product{
  @escapeColor: escape(@red);
	&-layout {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		max-width: 100%;

		&__aside {
			flex: 0 0 400px;
			max-width: 400px;
			margin-left: auto;
		}

		&__content {
			flex: 1 1 100%;
			max-width: calc(~'92% - 400px');
			overflow: hidden;
			.VHO(padding-top, 70px);
			padding-bottom: 50px;
		}

		&__title {
			.fz(24, 33);
			text-transform: uppercase;
			b,strong {
				font-weight: bold;
			}
		}
	}

	&-color {
		display: flex;
		flex-flow: row wrap;

		&__label {
			flex: 0 0 auto;
			margin-right: 10px;
		}

	}

	&-slider {
		width: 100%;
		position: relative;
    margin-bottom: 80px;

    &__iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    &__zoom {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
    }

		&__arrow {
			top: 100%;
			width: 40px;
			height: 30px;
			z-index: 1;
			position: absolute;
			left: 50%;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			cursor: pointer;
      margin-top: 20px;


			&--prev {
				margin-left: -55px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='22' viewBox='0 0 7.68 5.28'%3E%3Cpath fill='%23000000' d='M2.514-.038l.199.213L.543 2.49H7.68v.3H.542l2.171 2.314-.199.213L.003 2.64z'/%3E%3C/svg%3E%0A");

				&:hover{
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='22' viewBox='0 0 7.68 5.28'%3E%3Cpath fill='@{escapeColor}' d='M2.514-.038l.199.213L.543 2.49H7.68v.3H.542l2.171 2.314-.199.213L.003 2.64z'/%3E%3C/svg%3E%0A");
				}
			}

			&--next {
				margin-left: 15px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='22' fill='%23000000' viewBox='0 0 7.68 5.28'%3E%3Cpath d='M5.17 5.318l-.2-.213 2.171-2.314H.003V2.49h7.138L4.97.176l.2-.213L7.681 2.64z'/%3E%3C/svg%3E%0A");

				&:hover {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='22' fill='@{escapeColor}' viewBox='0 0 7.68 5.28'%3E%3Cpath d='M5.17 5.318l-.2-.213 2.171-2.314H.003V2.49h7.138L4.97.176l.2-.213L7.681 2.64z'/%3E%3C/svg%3E%0A");
				}
			}
		}

		&__image-base {
			position: relative;
			margin-bottom: 40px;
			margin-left: 160px;

			&:before {
				content: "";
				display: block;
				height: 325px;
				// padding-top: 72%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width: 100%;
				max-height: 100%;
				display: block;
				cursor: pointer;
				margin-top: 0;
			}
		}
		
		&__thumb {
			position: relative;
			transition: border .3s;
			cursor: pointer;

			&::before {
				content: "";
				display: block;
				padding-top: 62%;
			}

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background-color: #000;
				content: "";
				display: block;
				height: 100%;
				opacity: 0;
				transition: opacity .3s;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				max-width: 80%;
				max-height: 90%;
				transform: scale(.75);
				transition: transform .3s;
			}

			&.is-active::after {
				opacity: .75;
			}

			&.is-active img {
				transform: scale(1);
			}
		}
	}

	&-slider__thumbs {
		margin-left: 4px;
		margin-right: 4px;
		position: absolute;
		left: 0;
    top: 40px;
    bottom: 40px;
		width: 120px;
		// height: 100%;
    // overflow: hidden;
    
    .slick-arrow {
      position: absolute;
      width: 100%;
      height: 40px;
      
      left: 0;
      background-color: #fff;
      border: 0;
      outline: none;
      text-indent: -999em;
      overflow: hidden;
      cursor: pointer;
      top: auto;
      bottom: -40px;

      &.slick-prev {
        top: -40px;
        bottom: auto;
      }
      

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 32px;
        height: 22px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='22' viewBox='0 0 7.68 5.28'%3E%3Cpath fill='%23000000' d='M2.514-.038l.199.213L.543 2.49H7.68v.3H.542l2.171 2.314-.199.213L.003 2.64z'/%3E%3C/svg%3E%0A");
        left: 50%;
        top: 50%;
        margin-top: -11px;
        margin-left: -16px;
      }

      &:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='22' viewBox='0 0 7.68 5.28'%3E%3Cpath fill='@{escapeColor}' d='M2.514-.038l.199.213L.543 2.49H7.68v.3H.542l2.171 2.314-.199.213L.003 2.64z'/%3E%3C/svg%3E%0A");
      }

      &.slick-prev::before {
        transform: rotateZ(90deg)
      }

      &.slick-next::before {
        transform: rotateZ(-90deg)
      }
    }
	}

	&-register {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		justify-content: flex-start;

		&__btn {
			flex: 0 0 auto;
		}

		&__col {
			flex: 0 1 auto;
			margin-right: 56px;
		}
		
	}

	@media screen 
		and (max-width: 991px) {

		&-layout {
			display: block;

			&__aside {
				display: block;
				max-width: 100%;
				margin-left: 0;
				margin-right: 0;
				padding-left: 15px;
				padding-right: 15px;

			}

			&__content {
				display: block;
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
			}

			&__title {
				.fz(24, 33);
				text-transform: uppercase;
				b,strong {
					font-weight: bold;
				}
			}
		}

		&-register {
			display: block;
			&__btn {
				flex: 0 0 auto;
			}

			&__col {
				margin-right: 0
			}
			
		}
	}

	@media screen 
		and (max-width: 680px) {
		&-layout {
			display: block;
			&__aside {
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		&-slider__thumbs {
			left: -300px;
			opacity: 0;
		}

		&-slider__image-base {
			margin-left: 0;

			&:before {
				content: "";
				display: block;
				height: auto;
				padding-top: 72%;
			}
		}
	}
}
