.quote{
	position: relative;
	padding-top: 20px;

	&:before {
		content: "“";
		display: block;
		position: absolute;
		top: -20px;
		right: 0;
		font-size: 90px;
		line-height: 80px;
		font-weight: 800;
		height: 30px;
		color: @primary-color;
	}

	&__author {
		text-align: right;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 1.85em;
		.fz(20);
		letter-spacing: .2em;
	}
}