.recipe{
  position: relative;
  
	&__image {
		display: block;
		position: relative;
		background-color: #c0c0c0;
		background-image: linear-gradient(135deg, lighten(@green, 20%), darken(@green, 10%));
		margin-bottom: 20px;
		background-size: cover;
		background-repeat: no-repeat;

		&:before{
			content: "";
			display: block;
			padding-top: 95%;
		}
  }
  
	&__title {
		display: block;
		.fz(20);
		letter-spacing: 0.12em;
		text-transform: uppercase;
		font-weight:600;
		text-decoration: none;
		margin-bottom: 20px;
		min-height: 2.4em;
		color: @base-color;
		transition: color .3s;
		outline:none;

		&::after {
			content :"";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			z-index: 1;
		}
  }

	&-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: stretch;
		justify-content: flex-start;
		margin-left: -.5*@grid-gutter-width;
		margin-right: -.5*@grid-gutter-width;

		&__item {
			flex: 0 0 25%;
			max-width: 25%;
			padding-left: .5*@grid-gutter-width;
			padding-right: .5*@grid-gutter-width;
			margin-bottom:50px;

			.recipe {
				padding-bottom: 30px;
				height: 100%;
			}
		}
	}

	&__meta {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 20px;
		font-size: 14px;
		text-transform: uppercase;

		&-item {
			flex: 0 0 50%;
			max-width: 50%;
			font-weight: 500;
		}
	}

	&-icon {
		display: block;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 5px;

		&--portions {
			background-image: url(../images/recipe-icon.png);
		}

		&--times {
			background-image: url(../images/clock-icon.png);
		}
	}

	&:hover &__title {
		color: @red;
	}

	&:hover &__image:after {
		opacity :.8;

		@supports (mix-blend-mode: multiply) {
			opacity :1;
		}
	}

	&-label {
		font-weight: 500;
		margin-bottom: 5px;
	}

	&-text {
		big {
			font-size: 4em;
			line-height: .9;
			font-weight: bold;
		}
	}

	@media screen and (max-width: @screen-md) {
		&-panel {
			padding: 30px;
			background-color: #f7f7f7;
			min-height: 190px;
		}

		&-label {
			min-height: 2.4em;
		}
	}

	@media screen 
		and (min-width: 781px)
		and (max-width: 1130px) {

		&-list {
			&__item {
				flex: 0 0 33.333%;
				max-width: 33.333%;
			}
		}
	}

	@media screen 
		and (min-width: 580px)
		and (max-width: 780px) {

		&-list {
			&__item {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}

	@media screen 
		and (max-width: 580px) {
		&-topline{
			display: block;
		}
		&-list {
			&__item {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}