.recipe-search {
  max-width: 768px;
  position: relative;
  overflow: hidden;

  &__control {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    outline: none !important;
    height: 40px;
    padding: 0 40px 0 0;
    transition: border-color .3s;

    &:focus {
      border-bottom-color: @red;
    }
  }

  &__btn {
    position: absolute;
    outline: none;
    border: 0;
    background: transparent;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:focus,
    &:active {
      outline: none;
    }

    .svg-icon {
      width: 18px;
      height: 18px;
    }
  }
}