.review{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;

	&__date {
		flex: 0 0 auto;
		margin-right: 20px;
		display: block;
	}

	&__content{
		flex: 1 1 100%;
	}
	&__author {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-bottom: .2em;
	}

	&-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&__item {
			flex: 0 0 48%;
			max-width: 48%;
			margin-bottom: 30px;
		}
  }
  
  @media screen and (max-width: @screen-xs) {
    &-list {
		  display: block;

      &__item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}