.scroll-top{
	width: 98px;
	position: fixed;
	z-index: 10;
	bottom: 100px;
	left: 50px;
	padding: 10px;
	cursor: pointer;
	display: none;
	text-align: center;
	user-select: none;

	&__text {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		color: @red;
		letter-spacing: .18em;
		transition: color .3s;
	}

	&:hover {
		background-color: fade(#fff, 10%);
	}

	&__icon {
		width: 100%;
		position: relative;

		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			fill: @red;
			transition: fill .3s;
		}
	}


	&:hover &__icon svg{
		fill: darken(@red, 10%);
	}	

	&:hover &__text{
		color: darken(@red, 5%);
	}	

	&.is-active {
		display: block;
	}

	@media screen
		and (max-width: 1320px) {
		left: 0;
		width: 68px;
		&__text {
			font-size: 10px;
		}
	}

	@media screen
		and (max-width: 960px) {
		display: none !important;
	}

}