.searchbox{
    position: absolute;
    top: 100%;
    background-color: @gray-darkest;
    padding: 5px;
    display: none;
    right: 0;
    z-index: 20;

    &::before {
      content: "";
      display: block;
      position: absolute;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid @gray-darkest;
      top: -8px;
      right: 8px; 
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    &__btn {
        flex: 0 0 auto;
        padding: 0px 20px;
        height: @input-height;
        border: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        background-color: @red;
        color: #fff;
        font-family: @base-font;
    }

    &__control {
        flex: 1 1 100%;
        border-right: 0;
    }

    @media screen 
		and (max-width: 481px) {
            right: 0 !important;
            left: 0;

            &::before {
                display: none;
            }
        }
}