.section {
	padding-bottom: @section-ofset;
	padding-bottom: round(unit((@section-ofset/(1080*0.01)), vh), 2);
	padding-top: @section-ofset;
	padding-top: round(unit((@section-ofset/(1080*0.01)), vh), 2);

	&--theme-dark {
		color: #fff;
		background-color: @gray-darkest
	}

	&--theme-red {
		color: #fff;
		background-color: #a71904;
		background-image: url(../images/red-bg.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}

	&--extra-padding {
		padding-bottom: round(unit((90/(1080*0.01)), vh), 2);
		padding-top: round(unit((90/(1080*0.01)), vh), 2);
	}

	&--theme-lightgray {
		background-color: #f7f7f7;
	}

	&--theme-gray {
		background-color: #dddddd;
	}
}