.sellpoint{
	&__title {
		font-weight: 400;
	}

	&__row {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;
		
	}

	&__col {
		flex: 0 0 31%;
		max-width: 31%;
    padding-left: @grid-gutter-width;
    
    &:first-child {
      padding-left: 0;
    }

		&--slider {
			flex-grow: 1;
			flex: 0 0 38%;
			max-width: 38%;
		}
  }
  
  &__item-wrapper {
    margin-bottom: 20px;
    
    .bordered-box {
      border: 0
    }
    
  }

  &__item-wrapper.is-active &__btn {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color: @link-color;
  }

  &__mobile-inner {
    display: none;
  }

  &__mobile-slider {
    opacity: 0;

    &.slick-initialized {
      opacity: 1;
    }
  }

  @media screen  and (max-width: 1200px) {
    &__item-wrapper.is-active &__mobile-inner {
      display: block;
    }
    &__item-wrapper.is-active  {
      border: 5px solid @primary-color;
    }
  }

  

	&__btn {
		display: block;
		width: 100%;
		background-color: #fff;
		outline: none;
		border: 1px solid @base-color;
		min-height: @input-height;
		.fz(20);
		padding-top: 5px;
		padding-bottom: 5px;
		letter-spacing: .1em;
		cursor: pointer;
		transition: 
			background .3s,
			color .3s,
			border .3s;

		&:focus {
			outline: none;
		}

		&.is-active {
			background-color: #e8e8e8;
			border-color: #e8e8e8;
			color: @link-color;
    }
	}

	&__slider {
		padding-left: 40px;

		
  }
  
  &__mobile-slider,
  &__slider {
    .slick-dots {	
      list-style-type: none;
      margin: 10px 0 0;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 10px;
        background-color: @gray-light;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: background .3s;
        cursor: pointer;

        &.slick-active {
          background-color: @base-color;
        }
        button {
          display: none;
        }
      }
    }
  }

	&-card {
		&__name {
			color: @link-color;
			margin-bottom: 1em;
			.fz(20);
			letter-spacing: .1em;
		}

		&__option {
			position: relative;
			margin-bottom: 20px;
			padding-left: 2em;
			.fz(16, 24);
			letter-spacing: .1em;
			padding-right: 20px;

			.i-vekta {
				position: absolute;
				left: 0;
				top: .32em;
			}
		}
	}

	@media screen 
		and (max-width: 1200px) {

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			flex: 0 0 50%;
			max-width: 50%;

			&--slider {
				display: none;
			}
		}

		&__slider {
			padding-left: 0px; 
		}
	}

	@media screen 
		and (max-width: 780px) {

		&__row {
			display: block;
		}

		&__col {
			max-width: none;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
		}

		&__slider {
			padding-left: 0px; 
		}
	}
}