.share{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	&__label {
		flex: 0 0 auto;
		margin-right: 20px;
		font-weight: 400;
		.fz(24)
	}

	.social__link {
		width: 32px;
		height: 32px;
	}

	.social__item {
		width: 32px;
		height: 32px;
	}
}