.slider{
	&-arrow {
		width: 23px;
		height: 23px;
		line-height: 23px;
		position: absolute;
		border: 1px solid @base-color;
		top: 50%;
		font-size: 10px;
		text-align: center;
		cursor: pointer;
		background-color: #fff; 
		z-index: 22222;
		transition: 
			border .3s,
			color .3s,
			background .3s;


		&--prev {
			left: -90px;
		}

		&--next {
			right: -90px;
		}

		&:hover {
			background-color: @red;
			border-color: @red;
			color: #fff;
		}
	}

	.slick-dots {
		margin-top: 30px;
		text-align: center;
		li {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 10px;
			width: 18px;
			height: 18px;
			background-color: @base-color;
			margin-left: 4px;
			margin-right: 4px;

			&.slick-active{
				background-color: @red;
			}
			button {
				display: none;
			}
		}
	}

	@media screen
		and (max-width: 1400px) {

		&-arrow {
			&--prev {
				left: -30px;
			}

			&--next {
				right: -30px;
			}
		}		
	}

	@media screen
		and (min-width: 1200px)
		and (max-width: 1320px) {

		&-arrow {
			&--prev {
				left: 15px;
			}

			&--next {
				right: 15px;
			}
		}		
	}

	@media screen
		and (max-width: 1060px) {
			&-arrow {
				display: none;
			}
	}
}