.social{
	list-style-type: none;
	margin: 0;
	padding: 0;

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 24px;
	}

	&__link{
		width: 24px;
		height: 24px;
		display: block;
		position: relative;

		.svg-icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: fill .3s;
		}

		&:hover {
			.svg-icon {
				fill: @primary-color;
			}
		}
	}
}