.sort-select{
	color:@base-color;
	max-width: 300px;
	.SumoSelect {
		font-family: inherit;

		& > .CaptionCont {
			border: 0;
			font-weight: bold;
			letter-spacing: .1em;
			outline: none !important;
			box-shadow: none !important;
			font-size: 16px;
			font-family: inherit;

			> label > i {
				background-image: none;

				&::before {
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					border: 2px solid #000;
					transform: rotateZ(-135deg);
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -5px;
					border-left: 0;
					border-top: 0;
					transition: transform .3s;
					margin-left: 0;
					transform: rotateZ(45deg);
					margin-top: -5px;
				}
			}
			
			.placeholder {
				font-style: normal;
				color: #000;
			}
		}

		&.open > .CaptionCont {
			> label > i {

				&::before {
					transform: rotateZ(-135deg);
					margin-top: 0;
				}
			}
		}
	}
}