.sort-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &__label {
    font-weight: bold;
    letter-spacing: 0.1em;
    outline: none !important;
    box-shadow: none !important;
    font-size: 16px;
    margin-bottom: 2px;
    flex: 0 0 auto;
    margin-right: 10px;
  }

  @media screen and (max-width: @screen-xs) {
    display: block;

    &__label {
      margin-right: 0;
    }

    .SumoSelect {
      width: 100%;
      border :1px solid #000;
    }

    .sort-select {
      margin-top: 10px;
    }
  }
}