.subcategories{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 3;
	padding-left: 50px;
	padding-right: 50px;
	display: none;

	@media print {
		display: none !important;
	}

	&__inner {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
	
	&__list {
		display: flex;
		flex:  0 1 auto;
		max-width: 70%;
		flex-direction: row;
		flex-wrap: wrap;

		&-item {
			flex: 0 0 auto;
		}
	}

	&__link {
		display: block;
		font-size: 40px;
		width: 150px;
		height: 150px;
		font-size: 90px;
		text-decoration: none;
		vertical-align: middle;
		line-height: 150px;
		text-align: center;
		color: fade(#fff, 70%);
		transition: color .3s;
		position: relative;



		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		&:hover {
			color: #fff;
			background-color: fade(#000, 10%);
		}
	}

	&__label {
		flex: 0 0 30%;
		max-width: 30%;
		text-transform: uppercase;
		font-style: 16px;
		font-weight: 500;
		letter-spacing: .1em;
		color:#fff;

		span {
			display: inline-block;
			vertical-align: middle;
			margin-left: 50px;
		}
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		display: block;
		width: 60%;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			fill:#fff;
		}
	}



	.coverThemeLoop(1);

	.coverThemeLoop(@counter) when (@counter <= length(@themes-names)) {
		.coverTheme(extract(@themes-colors, @counter), extract(@themes-names, @counter));
	  .coverThemeLoop((@counter + 1));   
	}
	.coverTheme(@color, @name) {
		&.@{name} {
			background-color: @color;
		}
	}

	@media screen
		and (max-width: 1380px) 
		and (min-width: 1060px) {

		&__link {
			width: 90px;
			height: 90px;
		}
	}


	@media screen
		and (max-width: 1060px) {
		display: none !important;
		visibility: hidden !important;
	}

}