.subscribe{
	display: flex;
	flex-direction: row;
	max-width: 772px;
	margin-left: auto;
	margin-right: auto;
	

	.form__control {
		flex: 1 1 auto;
		margin-right: @grid-gutter-width;
	}

	.btn {
		flex: 0 0 auto;
	}

	::-webkit-input-placeholder {
	  text-transform: none;
	  letter-spacing: normal;
	  color:@base-color;
	  
	}
	::-moz-placeholder {
	  text-transform: none;
	  letter-spacing: normal;
	  color:@base-color;

	}
	:-ms-input-placeholder {
	  text-transform: none;
	  letter-spacing: normal;
	  color:@base-color;

	}
	:-moz-placeholder { 
	  text-transform: none;
	  letter-spacing: normal;
	  color:@base-color;
	}

	@media screen
		and (max-width: 760px) {
			display: block;

			.form__control {
				margin-bottom: 20px;
				margin-left: 0;
				margin-right: 0;
			}

			.btn {
				width: 100%;
			}
	}
}