.tab{
	&__unit {
		display: none;
		&.is-active {
			display: block;
		}
	}

	&__nav {
		display: flex;
		flex-direction: row;
		align-items:center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 40px;
		border-bottom: 1px solid #d6d6d6;
		.fz(20);

		&-item{
			margin-left: 10px;
			margin-right: 10px;
			position: relative;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: .1em;
			text-decoration: none;
			color: @base-color;
			padding-bottom: 20px;

			.notice {
				position: absolute;
				top: -6px;
				right: -9px;
			}

			&.is-active {
				color: @link-color;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.accordion:first-child .accordion__title {
		border-top-color: transparent;
  }
  
  @media screen and (max-width: @screen-xs) {
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &-item {
        display: block;
        margin-left: 0;
        margin-right: 0;
      } 
    }
  }
}