.tech-list{
  list-style: none;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;

    @media screen and (max-width: @screen-md) {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__icon {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
    margin-right: 10px;
    text-align: center;
    img, svg {
      max-width: 100%;
    }
  }

  &__name {
    color: #666666;
    text-decoration: none;
    transition: color .3s;
  }

  a&__name:hover {
    color: @red;
  }
}