.text{
	&-center {
		text-align: center;
	}

	&-info{
		color: @info-color;
	}

	&-red {
		color: @red;
	}

	&-upper {
		text-transform: uppercase;
	}

	&-ls200 {
		letter-spacing: .2em;
	}

	&-right {
		text-align: right;
	}

	&-left {
		text-align: left;
	}
}