.tile{
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	min-height: 400px;
	&-list {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
		transform: translateZ(0);

		&__item {
			flex: 0 0 25%;

			&--size-lg {
				flex-basis: 50%;
			}
		}
	}

	&__label{
		position: absolute;
		right: 60px;
		top: 8%;
		transition: color .3s;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color:@primary-color;
	}

	&__icon {
		position: absolute;
		width: 70%;
		max-width: 180px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-100%);
		margin-top: -10%;
		opacity: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 170px;
		transition: 
			opacity .3s,
			transform .3s ease-in-out;

		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			fill: #fff;
		}
	}

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		padding: 8% 4% 8% 12%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 2;
		overflow: hidden;
		text-indent: -9999em;
		white-space: nowrap;
	}

	&__text {
		font-size: 16px;
		font-weight: 300;
		transition: color .3s;
	}

	&__title{
		.fz(20);
		margin-bottom: .35em;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: .15em;
		transition: color .3s;
	}

	&:before {
		content: "";
		display: block;
		padding-top: 106%;
		min-height: 450px;
	}

	&-portal {
	}

	&-list__item--size-lg &__inner {
		padding: 4% 4% 4% 6%;
	}

	&-list__item--size-lg &__icon {
		width: 200px;
		height: 200px;
		font-size: 200px;
		margin-top: 0;
	}

	&-list__item--size-lg &__label {
		top: 4%;
	}

	.themeLoop(1);

	.themeLoop(@counter) when (@counter <= length(@themes-names)) {
		@name: extract(@themes-names, @counter);
		@color: extract(@themes-colors, @counter);
		&.@{name} &__label{
			color: @color;
		}
	  .themeLoop((@counter + 1));   
	}
	
	&:hover &__title,
	&:hover &__label,
	&:hover &__text,
	&--selected &__title,
	&--selected &__label,
	&--selected &__text,
	&.is-hovered &__title,
	&.is-hovered &__label,
	&.is-hovered &__text {
		color: #fff;
	}

	&--selected &__label {
		color: #fff !important;
	}

	&:hover &__icon,
	&--selected &__icon {
		opacity: 1;
		transform: translate(-50%, -50%)
	}

	&:hover::after,
	&--selected::after,
	&.is-hovered::after {
		opacity :.8;

		@supports (mix-blend-mode: multiply) {
			opacity :1;
		}
	}



	@media screen and (max-width: 1150px) {
		&-list {
			&__item {
				flex: 0 0 50%;
			}
		}
	}

	@media screen and (max-width: 640px) {
		&-list {
			&__item {
				flex: 0 0 100%;
			}
		}
	}
}