.title{
	.fz(@h1-font-size);
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	//margin-bottom: unit(48/@h1-font-size, em);
	margin-top: 0;
	.VHOffset(50px);


	&--sm {
		.fz(20);
		.VHOffset(25px);
		letter-spacing: 0.1em;
	}

	@media screen
		and (max-width: 960px) {
		.fz(28px);
		letter-spacing: 0.1em;
		word-break: break-word;

		&--sm {
			.fz(18);
			.VHOffset(25px);
			letter-spacing: 0.1em;
		}
	}

	@media screen
		and (max-width: 640px) {
		.fz(24px);

		&--sm {
			.fz(16);
		}
	}
}