.vekta-gallery {

  .fancybox-button {
    outline: none !important;
  }
  
  .fancybox-navigation .fancybox-button {
    top: 50%;
    transform: translateY(-50%)
  }

  @media screen and (min-width:768px) {
    .fancybox-thumbs {
      position: fixed;
      display: block;
      left: 50px;
      right: 50px;
      bottom: 0;
      top: auto;
      width: auto;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;

      &__list {
        width: 100% !important;
        justify-content: flex-start;
        margin-left: -5px;
        display: flex;

        a {
          flex: 1 1 110px;
          max-height: none;
          max-width: 110px;
          width: 110px;
          margin: 5px;
          background-size: 60px auto;
          display: block;
          background-size: contain;
          background-size: 80% 80%;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #fff;
          position: relative;

          &::before {
            content: "";
            display: block;
            padding-top: 70%;
            position: static;
            border :0;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: @primary-color;
            opacity: 0;
          }

          &.fancybox-thumbs-active::after {
            opacity: .85;
            mix-blend-mode: multiply;
          }
        }
      }
      
    }

    .fancybox-slide--iframe .fancybox-content {
      height: 100%;
    }

    .fancybox-slide {
      left: 50px !important;
      top: 50px !important;;
      right: 50px !important;
      background: #fff !important;
      bottom: 125px !important;
      width: auto;
      height: auto;
      
      .fancybox-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto !important;
        max-width: 100%;
        max-height: 100%;
        transform: none !important;
      }

      .fancybox-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .fancybox-inner {
      right: 0px !important;
    }
  }
  @media screen and (max-width: 1200px) {
    .fancybox-thumbs {
      ul {
        li {
          flex: 1 1 80px;
          max-width: 80px;
          width: 80px;
          height: 60px;
        }
      }
    }
  }
  @media screen and (max-width:768px) {
    .fancybox-thumbs {
      display: none !important;
    }

    .fancybox-inner {
      right: 0px !important;
    }
  }

  .fancybox-image {
    object-fit: cover;
  }
}