.vekta-tooltip{
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  margin-top: -.15em;
  background-color: #fff;
  color: @base-color;
  border :1px solid @base-color;
  text-align: center;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  transition: color .3s, border .3s, background .3s;

  &.is-active {
    background-color: @primary-color;
    border-color: @primary-color;
    color: #fff !important;
  }

  &::before {
    content: "?"
  }

  &:hover {
    background-color: @primary-color;
    border-color: @primary-color;
    color: #fff;
  }

  &:active {
    transform: translateY(1px)
  }

  &__content {
    display: none !important;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
  }


  &-view {
    position: absolute;
    display: none;
    z-index: 2;
    width: 312px;
    padding: 18px;
    background-color: #888c8d;
    .fz(12, 16);
    color: #fff;
    transform: translateY(-100%);
    max-height: 300px;
    overflow: auto;
    letter-spacing: .02em;

    img {
      max-width: 100%;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    a {
      color: #fff;

      &:hover {
        color: @primary-color;
      }
    }

    &::before {
      content: "×";
      display: block;
      position: absolute;
      top: -2px;
      font-size: 24px;
      line-height: 1;
      right: 4px;
      cursor: pointer;
    }

    @media screen and (max-width: 321px) {
      width: 276px;
    }
  }
}