.wrapped-img{
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;

	&--fixed {
		background-attachment: fixed;
	}

	&:before{
		padding-top: 42%;
		content: "";
		display: block;
	}
}