.wysiwyg{
	color: @wysiwyg-color;
	.lh(25);
	.clearfix();

	.h-fz24 {
		line-height: 1.2;
	}

	p {
		margin-bottom: 2em;

		& + img{
			margin-bottom: 2em;
		}
	}

	hr {
		background-color: transparent;
		border-top: 1px solid #dedede;
		margin-top: 2em;
		margin-bottom: 2em;
	}

	& > *:last-child{
		margin-bottom: 0;
	}

	& > :first-child {
		margin-top: 0;
	}

	b,strong {
		font-weight: bold;
	}

	em{
		font-style: italic;
	}

	blockquote {
		display: block;
		padding: 40px 0% 40px 8%;
		.fz(24, 29);
		text-transform: uppercase;
		font-weight: bold;
		color: inherit;
		font-style: normal;
		max-width: 600px;
		letter-spacing: .1em;
		position: relative;

		&:before {
			content: "“";
			display: block;
			position: absolute;
			top: -20px;
			right: 0;
			font-size: 90px;
			line-height: 80px;
			font-weight: 800;
			height: 30px;
			color: @red;
		}
	}

	h1{
		.fz(@h1-font-size);
		margin-bottom: (unit(@h1-font-size)/32)*1em;
	}

	h2{
		.fz(@h2-font-size);
		margin-bottom: (unit(@h2-font-size)/32)*1em;
	}

	h3{
		.fz(@h3-font-size);
		margin-bottom: (unit(@h3-font-size)/32)*1em;

	}

	h4{
		.fz(@h4-font-size);
		margin-bottom: (unit(@h4-font-size)/32)*1em;
	}

	h1,h2,h3,h4{
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: .1em;
	}

	li {
		margin-bottom: 1.85em;
	}

	ol {
		list-style-type: none;
		counter-reset: list;

		li {
			counter-increment: list;

			&::before {
				content: counter(list)".";
				color: @red;
				margin-right: 1em;
			}
		}
	}

	ul {
		list-style-type: none;
		margin-bottom: 2em;
		margin-top: 2em;

		li {
			position: relative;
			padding-left: 1.85em;
			&::before {
				content: "";
				display: block;
				position: absolute;
				width: .85em;
				height: 2px;
				background-color: @red;
				left: 0;
				top: .62em;
			}
		}
	}

	table{
		max-width: 100%;
		width: 100%;
		border-collapse: collapse;
		margin-top: 2em;
		margin-bottom: 2em;

		td {
			padding: 8px 5px;
			transition: background .3s;
			border: 1px solid #dedede;
		}

		tr:hover td {
			background-color: lighten(@gray-light, 10%);
		}
	}

	img {
		max-width: 100%;
  }
  
  &.small-offsets {
    li {
      margin-bottom: .65em;
    }

    table, ul, ol, p, hr {
      margin-top: 1em;
      margin-bottom: 1em;
    }

  }
}