{% macro Icon(id, class) -%}
	<span class="svg-icon svg-icon--{{ id }} {{ class }}">
		<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon__glyph" role="img">
			<use xlink:href="#{{ id }}"></use>
		</svg>
	</span>
{%- endmacro %}


{% macro NewsCard(news) %}
  <div class="news">
    <div class="news__date date-block">
      <span class="date-block__month">{{ news.month }}</span>
      <span class="date-block__day">{{ news.day }}</span>
    </div>

    <div role="image" class="news__image cover" style="background-image: url({{ news.image | uploads }})"></div>
    <div class="news__tag">{{ news.tag }}</div>
    <a href="{{ news.url }}" class="news__title">{{ news.title }}</a>
    <p class="news__short">{{ news.short }}</p>
    <span class="news__read">Читать</span>
  </div>
{% endmacro %}


{%- macro Card(item) %}
  <div class="card theme-{{ item.theme }}">
    <div class="card__image" style="background-image: url({{ item.image | uploads }});" role="img">
      {%- if item.new %}<div class="card__label">Новинки</div>{% endif -%}
      <img src="{{ item.image | uploads }}" alt="{{ item.model }}" class="only-print">
    </div>
    <a href="{{ item.url }}" class="card__link">
      <span class="card__category">{{ item.group }}</span>
      <span class="card__model">{{ item.model }}</span>
    </a>
    <div class="card__btns">
      <a href="https://beru.ru/product/shchiptsy-vekta-hct-2502/100540595765?show-uid=15638933472251613223806004&ncrnd=2243" class="card__btn beru-btn" title="Купить в Беру">Купить в Беру</a>
      <a href="{{ item.url }}" title="Подробнее" class="card__btn card__btn-default">Подробнее</a>
      <a href="#" class="card__btn card__btn-compare" title="Сравнить" >
        <i class="i-vekta i-vekta--list-plus" role="icon"></i>
      </a>
    </div>
  </div>
{%- endmacro %}

{%- macro Review(item) %}
  <div class="review">
    <div class="review__date date-block">
      <div class="date-block__month">{{ item.month }}</div>
      <div class="date-block__day">{{ item.day }}</div>
    </div>
    <div class="review__content">
      <div class="review__author">{{ item.name }}</div>
      <div class="review__text wysiwyg">{{ item.content }}</div>
    </div>
  </div>
{%- endmacro %}

{%- macro Share(label, class) %}
  <div class="share {{ class }}">
    <div class="share__label">{{ label }}</div>
    <ul class="social">
      <li class="social__item">
        <a href="#" class="social__link">{{ Icon('i-vk') }}</a>
      </li>

      <li class="social__item">
        <a href="#" class="social__link">{{ Icon('i-odnoklassniki') }}</a>
      </li>
      <!-- В инстаграм шарить можно только из приложения -->
      <!--li class="social__item">
        <a href="#" class="social__link">{{ Icon('i-instagram') }}</a>
      </li-->
      <li class="social__item">
        <a href="#" class="social__link">{{ Icon('i-fb') }}</a>
      </li>
    </ul>
  </div>
{%- endmacro %}
