{% macro Card(data) %}
  <div class="recipe">
    <div role="image" class="recipe__image cover theme-tv" style="background-image: url({{ data.image | uploads }})"></div>
    <div class="recipe__meta">
      <div class="recipe__meta-item">
        <span class="recipe__icon recipe__icon--portions"></span>
        {{ data.portions }}
      </div>
      <div class="recipe__meta-item">
        <span class="recipe-icon recipe-icon--times"></span>
        {{ data.time }}
      </div>
    </div>
    <a href="{{ data.url }}" class="recipe__title">{{ data.title }}</a>
  </div>
{% endmacro %}